html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
	
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	background: #b1a172;
	background: url(/assets/static/marketingbg.png) no-repeat center center fixed;  	
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

#wrapper {
	min-height:100%;
   	position:relative;
   	
}

#header {
	top:0px;
	background-color: #333;
	height: 60px;
	width: 100%;
	white-space: nowrap;
	position: fixed;
	text-align: center;	
	}
	#wc-logo {
		margin-top: 5px;
		display: inline-block;	
		margin-right: 60%;
	}
	#h-trybutton {
		background-color:#ff6633;
		display: inline-block;		
		-webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;	   	
	  	margin-top: 14px;
	  	position: absolute;
	  	margin-left: -15%;	  	
		}
		#h-trybutton:hover {
			background-color: #f2662e;
		}
		#tryb {
			font-size: .8em;
			padding: 8px 10px;			
		}

#content {
	margin-top: 100px;
	width: 800px;	
	margin-right: auto;
	margin-left: auto;
	min-height: 1000px;	
	
	/*text shadows*/	
	text-shadow: 0px 0px 10px rgba(59, 41, 41, 0.25);
    
	}
	h1 {
		font-size: 3.5em;
		margin-bottom: -10px;
	}
	#content p {
		font-size: 1.3em;
		line-height: 1.5em;
	}
	#video:hover{
		cursor: pointer;
	}
	#button-wrapper {
		text-align: center;
		white-space: nowrap;
		}
		#learnmore, #c-trybutton {
			display: inline-block;
			background-color: #8faa3c;
			padding: 10px 64px;
			font-size: 1em;
			-webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    border-radius: 2px;	   	
		  	margin-top: 20px;
            cursor: pointer;
		}
		#learnmore {
			margin-right: 10px;
            padding: 10px 40px;
		}
		#learnmore:hover, #c-trybutton:hover {
			background-color: #839842;
		}

#footer {
	position: absolute;
	bottom:0;
	width: 100%;
	height: 125px;
	background-color: #ccc394;
	border-top: solid 1px white;
	text-align: center;
	padding-top: 20px;
	font-size: 1em;

	}
	#footer a:hover {
		color:#ede9d8;
	}
	#links-wrapper {
		display: inline-block;
		text-align: left;
		float: left;
		margin-left: 15%;
		font-size: 1em;		
	}
	
	#button-wrapper {
		position: absolute;
		display: inline-block;
	}
	#social-buttons{
				
		display: inline-block;
		margin-left: 8px;

		}
		#social-buttons div {
			border: 1px solid white;
			-webkit-border-radius: 20em;
			-moz-border-radius: 20em;
			border-radius: 20em;
			height: 5em;
			width: 5em;
			display: inline-block;
			text-align: center;
			margin-right: 15px;
			}
			#social-buttons div:hover{
				background-color: #D9D2B0;
			}

			#tweet{						
				padding-top: 1.8em;
				z-index: 1;
				max-width: 30px;
			}
			#eff {
				max-width: 10px;
				padding-top: 1.8em;
			}
			#plex {
				max-width: 25px;
				padding-top: 1.9em;
			}
	#irc-wrapper {
		text-align: right;
		float: right;
		margin-right: 15%;
		font-size: .8em;
	}
