*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
public/assets/
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.lock

.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/

*.out

# debugger file
app/views/popups/_debugger.html.haml

