<script type="text/x-handlebars">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">WashCost</a>
      <ul class="nav">
        <li>a</li>
        <li>b</li>
      </ul>
    </div>
  </div>

  {{outlet}}
</script>
