    <% @title = "4 of 9 (Capital Expenditure)" %>

    <h1><%= t 'form.shared.capital.question' %></h1>

    <%= form_tag({controller: "water_basic", action: "capital"}, class: "main_content", id: "waterBasicForm") do %>

      <div class="choices capitalSlider">
        <div class="value">
            <div class="valueOutput"><span id="capitalValue">30</span>$</div>
            <div class="valueLabel">Per person (USD)</div>
        </div>
        <div id="capitalSlider">
        </div>
        <ul class="labelScale">
          <li class="first">
            <span class="estimate">Bellow</span>
            <span class="numRounding">48</span>
          </li>
          <li class="last">
            <span class="estimate">Above</span>
            <span class="numRounding">109</span>
          </li>
        </ul>
      </div>

        <input type="hidden" name="capital"/>
        <%= submit_tag((t 'buttons.next'), class: "next_button") %>
        <a class="skip" href="./recurrent">skip this question</a>

<!--       <div class="infoTab">
      <a href="#" class="tab">infoTab</a>
      <div class="tabContent">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Maecenas elementum tristique nunc sed vehicula. Mauris dignissim erat ut lectus rutrum elementum. Etiam pharetra ac massa sit amet mattis. Nam blandit, nibh sed mattis accumsan, nisi risus vulputate eros, in aliquam leo tellus et est. Vivamus pretium ultrices dui, vitae lobortis tellus malesuada id. Ut quis convallis odio. Duis egestas dolor quis mi tempor laoreet.</p>
      </div>
    </div> -->

    <% end %>
