    <% @title = "Start" %>

    <h1><%= t 'form.shared.country.question' %></h1>

    <%= form_tag({controller: "water_basic", action: "country"}, class: "main_content", id: "waterBasicForm") do %>

    <div class="choices">
      <span style="text-align: left">
      <select data-placeholder="Choose a Country..." class="chzn-select" style="width:350px; " tabindex="2" name="country">
        <option value="AFG">Afghanistan</option>
        <option value="ALB">Albania</option>
        <option value="DZA">Algeria</option>
        <option value="ASM">American Samoa</option>
        <option value="ADO">Andorra</option>
        <option value="AGO">Angola</option>
        <option value="ATG">Antigua and Barbuda</option>
        <option value="ARB">Arab World</option>
        <option value="ARG">Argentina</option>
        <option value="ARM">Armenia</option>
        <option value="ABW">Aruba</option>
        <option value="AUS">Australia</option>
        <option value="AUT">Austria</option>
        <option value="CUB">Cuba</option>
        <option value="CUW">Curacao</option>
        <option value="CYP">Cyprus</option>
        <option value="CZE">Czech Republic</option>
        <option value="DNK">Denmark</option>
        <option value="DJI">Djibouti</option>
        <option value="DMA">Dominica</option>
        <option value="DOM">Dominican Republic</option>
        <option value="EAS">East Asia &amp; Pacific (all income levels)</option>
        <option value="EAP">East Asia &amp; Pacific (developing only)</option>
        <option value="ECU">Ecuador</option>
        <option value="EGY">Egypt Arab Rep.</option>
        <option value="SLV">El Salvador</option>
        <option value="GNQ">Equatorial Guinea</option>
        <option value="ERI">Eritrea</option>
        <option value="EST">Estonia</option>
        <option value="ETH">Ethiopia</option>
        <option value="EMU">Euro area</option>
        <option value="ECS">Europe &amp; Central Asia (all income levels)</option>
        <option value="ECA">Europe &amp; Central Asia (developing only)</option>
        <option value="EUU">European Union</option>
        <option value="FRO">Faeroe Islands</option>
        <option value="FJI">Fiji</option>
        <option value="FIN">Finland</option>
        <option value="FRA">France</option>
        <option value="PYF">French Polynesia</option>
        <option value="GAB">Gabon</option>
        <option value="GMB">Gambia</option>
        <option value="GEO">Georgia</option>
        <option value="DEU">Germany</option>
        <option value="GHA">Ghana</option>
        <option value="GRC">Greece</option>
        <option value="GRL">Greenland</option>
        <option value="GRD">Grenada</option>
        <option value="GUM">Guam</option>
        <option value="GTM">Guatemala</option>
        <option value="GIN">Guinea</option>
        <option value="GNB">Guinea-Bissau</option>
        <option value="GUY">Guyana</option>
        <option value="HTI">Haiti</option>
        <option value="HND">Honduras</option>
        <option value="HKG">Hong Kong</option>
        <option value="HUN">Hungary</option>
        <option value="ISL">Iceland</option>
        <option value="IND">India</option>
        <option value="IDN">Indonesia</option>
        <option value="IRN">Iran</option>
        <option value="IRQ">Iraq</option>
        <option value="IRL">Ireland</option>
        <option value="IMY">Isle of Man</option>
        <option value="ISR">Israel</option>
        <option value="ITA">Italy</option>
        <option value="JAM">Jamaica</option>
        <option value="JPN">Japan</option>
        <option value="JOR">Jordan</option>
        <option value="KAZ">Kazakhstan</option>
        <option value="KEN">Kenya</option>
        <option value="KIR">Kiribati</option>
        <option value="PRK">Korea, Dem. Rep.</option>
        <option value="KOR">Korea, Rep.</option>
        <option value="KSV">Kosovo</option>
        <option value="KWT">Kuwait</option>
        <option value="KGZ">Kyrgyz Republic</option>
        <option value="LAO">Lao PDR</option>
        <option value="LVA">Latvia</option>
        <option value="LBN">Lebanon</option>
        <option value="LSO">Lesotho</option>
        <option value="LBR">Liberia</option>
        <option value="LBY">Libya</option>
        <option value="LIE">Liechtenstein</option>
        <option value="LTU">Lithuania</option>
        <option value="LUX">Luxembourg</option>
        <option value="MAC">Macao SAR</option>
        <option value="MKD">Macedonia</option>
        <option value="MDG">Madagascar</option>
        <option value="MWI">Malawi</option>
        <option value="MYS">Malaysia</option>
        <option value="MDV">Maldives</option>
        <option value="MLI">Mali</option>
        <option value="MLT">Malta</option>
        <option value="MHL">Marshall Islands</option>
        <option value="MRT">Mauritania</option>
        <option value="MUS">Mauritius</option>
        <option value="MEX">Mexico</option>
        <option value="FSM">Micronesia, Fed. Sts.</option>
        <option value="MDA">Moldova</option>
        <option value="MCO">Monaco</option>
        <option value="MNG">Mongolia</option>
        <option value="MNE">Montenegro</option>
        <option value="MAR">Morocco</option>
        <option value="MOZ">Mozambique</option>
        <option value="MMR">Myanmar</option>
        <option value="NAM">Namibia</option>
        <option value="NPL">Nepal</option>
        <option value="NLD">Netherlands</option>
        <option value="NCL">New Caledonia</option>
        <option value="NZL">New Zealand</option>
        <option value="NIC">Nicaragua</option>
        <option value="NER">Niger</option>
        <option value="NGA">Nigeria</option>
        <option value="MNP">Northern Mariana Islands</option>
        <option value="NOR">Norway</option>
        <option value="OMN">Oman</option>
        <option value="PAK">Pakistan</option>
        <option value="PLW">Palau</option>
        <option value="PAN">Panama</option>
        <option value="PNG">Papua New Guinea</option>
        <option value="PRY">Paraguay</option>
        <option value="PER">Peru</option>
        <option value="PHL">Philippines</option>
        <option value="POL">Poland</option>
        <option value="PRT">Portugal</option>
        <option value="PRI">Puerto Rico</option>
        <option value="QAT">Qatar</option>
        <option value="ROM">Romania</option>
        <option value="RUS">Russian Federation</option>
        <option value="RWA">Rwanda</option>
        <option value="WSM">Samoa</option>
        <option value="SMR">San Marino</option>
        <option value="STP">Sao Tome and Principe</option>
        <option value="SAU">Saudi Arabia</option>
        <option value="SEN">Senegal</option>
        <option value="SRB">Serbia</option>
        <option value="SYC">Seychelles</option>
        <option value="SLE">Sierra Leone</option>
        <option value="SGP">Singapore</option>
        <option value="SXM">Sint Maarten (Dutch part)</option>
        <option value="SVK">Slovak Republic</option>
        <option value="SVN">Slovenia</option>
        <option value="SLB">Solomon Islands</option>
        <option value="SOM">Somalia</option>
        <option value="ZAF">South Africa</option>
        <option value="SAS">South Asia</option>
        <option value="SSD">South Sudan</option>
        <option value="ESP">Spain</option>
        <option value="LKA">Sri Lanka</option>
        <option value="KNA">St. Kitts and Nevis</option>
        <option value="LCA">St. Lucia</option>
        <option value="MAF">St. Martin (French part)</option>
        <option value="VCT">St. Vincent and the Grenadines</option>
        <option value="SSF">Sub-Saharan Africa (all income levels)</option>
        <option value="SSA">Sub-Saharan Africa (developing only)</option>
        <option value="SDN">Sudan</option>
        <option value="SUR">Suriname</option>
        <option value="SWZ">Swaziland</option>
        <option value="SWE">Sweden</option>
        <option value="CHE">Switzerland</option>
        <option value="SYR">Syrian Arab Republic</option>
        <option value="TJK">Tajikistan</option>
        <option value="TZA">Tanzania</option>
        <option value="THA">Thailand</option>
        <option value="TMP">Timor-Leste</option>
        <option value="TGO">Togo</option>
        <option value="TON">Tonga</option>
        <option value="TTO">Trinidad and Tobago</option>
        <option value="TUN">Tunisia</option>
        <option value="TUR">Turkey</option>
        <option value="TKM">Turkmenistan</option>
        <option value="TCA">Turks and Caicos Islands</option>
        <option value="TUV">Tuvalu</option>
        <option value="UGA">Uganda</option>
        <option value="UKR">Ukraine</option>
        <option value="ARE">United Arab Emirates</option>
        <option value="GBR">United Kingdom</option>
        <option value="USA">United States</option>
        <option value="URY">Uruguay</option>
        <option value="UZB">Uzbekistan</option>
        <option value="VUT">Vanuatu</option>
        <option value="VEN">Venezuela</option>
        <option value="VNM">Vietnam</option>
        <option value="VIR">Virgin Islands (U.S.)</option>
        <option value="WBG">West Bank and Gaza</option>
        <option value="YEM">Yemen, Rep.</option>
        <option value="ZMB">Zambia</option>
        <option value="ZWE">Zimbabwe</option>

      </select>   </span>
    </div>

    <%= submit_tag((t 'buttons.start'), class: "next_button") %>
    <a class="skip" href="#">skip this question</a>

    <% end %>

    <div class="infoTab">
      <a href="#" class="tab">infoTab</a>
      <div class="tabContent">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Maecenas elementum tristique nunc sed vehicula. Mauris dignissim erat ut lectus rutrum elementum. Etiam pharetra ac massa sit amet mattis. Nam blandit, nibh sed mattis accumsan, nisi risus vulputate eros, in aliquam leo tellus et est. Vivamus pretium ultrices dui, vitae lobortis tellus malesuada id. Ut quis convallis odio. Duis egestas dolor quis mi tempor laoreet.</p>
      </div>
    </div>