<ul>
    <li><a href="/cal/water_basic/country">water basic</a></li>
    <li><a href="#">water advanced</a></li>
    <li><a href="/cal/sanitation_basic/country">sanitation basic</a></li>
    <li><a href="#">sanitation advanced</a></li>
</ul>
