<% @title = "Report" %>

<div id="top">
    <div class="branding">
        <a class="brand" href="#">
            <strong>Wash</strong> Cost<br/>
            <small>powered by Vie</small>
        </a>
    </div>

    <nav class="utility">
        <ul>
            <li>about</li>
            <li>help</li>
            <li>contact</li>
        </ul>
    </nav>
</div>
<section class="mainContent">
    <section class="resultTotal">
        <h1>General FeedBack</h1>
        <ul>
            <li>
                <h2>Bellow Basic</h2>
                <p>Sustainability</p>
                <h3>General Sustainability</h3>
            </li>
            <li>
                <h2>Improved</h2>
                <p>Level</p>
                <h3>Level of service</h3>
            </li>
            <li>
                <h2>8K</h2>
                <p>May be wasted</p>
                <h3>Risk of failure</h3>
            </li>
        </ul>
    </section>
    <section class="resultInfo">
        <section class="content">
            <h1>Content</h1>
            <ul>
                <li>
                    <h3>Country</h3>
                    <figure>
                        <img src="/assets/cms/content-dummy-country8.png" alt="africa" />
                        <figcaption>Burkina-Faso</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Water source</h3>
                    <figure>
                        <img src="/assets/cms/content-dummy-source8.png" alt="africa" />
                        <figcaption>Burkina-Faso</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Population</h3>
                    <figure>
                        <img src="/assets/cms/content-dummy-population8.png" alt="africa" />
                        <figcaption>501-5000 People</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
            </ul>
        </section>
        <section class="data  bg">
            <h1>Costa Data</h1>
            <p>Cost in 10 years <span>for a population of 2000 people</span></p>
            <img src="/assets/cms/costData-dummy8.png" alt="cost data" />
            <div id="graphContainer"></div>
            <ul>
                <li>
                    <h3>Capital Expenditure</h3>
                    <p class="select">&#36;350</p>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Recurrent Expenditure</h3>
                    <p class="select">&#36;350</p>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Total</h3>
                    <p class="total">&#36;513K</p>
                </li>
            </ul>
        </section>
        <section class="service bg">
            <h1>Service</h1>
            <p>Distance</p>
            <img src="/assets/cms/service-dummy8.png" alt="Service" />
            <a class="edit" href="#">Edit</a>
            <ul>
                <li>
                    <h3>Quantity</h3>
                    <figure>
                        <img src="/assets/cms/service-dummy-quatity8.png" alt="Quantity" />
                        <figcaption>5-20L used per person per day</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Quality</h3>
                    <figure>
                        <img src="/assets/cms/service-dummy-source8.png" alt="africa" />
                        <figcaption>One-off test after construction</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
                <li>
                    <h3>Population</h3>
                    <figure>
                        <img src="/assets/cms/service-dummy-population8.png" alt="africa" />
                        <figcaption>Service working most of the time</figcaption>
                    </figure>
                    <a class="edit" href="#">Edit</a>
                </li>
            </ul>
        </section>
    </section>
</section>
<footer>
    <h2>Final Report</h2>
    <div class="progressBar">
        <p>30% Complete</p>
        <div class="outerBar">
            <div class="innerBar" style="width:30%"></div>
        </div>
    </div>
    <ul class="social">
        <li><a href="#">Save</a></li>
        <li><a href="#">Share</a></li>
    </ul>
</footer>
