- model = @user || @report
- if model
	- if model.errors.messages.any?
		- model.errors.messages.each do |key, value|
			.standalone_form--message= value.first
	- else
		- model.errors.full_messages.each do |key, value|
			.standalone_form--message= value	
- flash.each do |name, msg|
	.standalone_form--message= msg