%footer.preapplication_footer
  .page_content

    .preapplication_footer--content
      .preapplication_footer--links
        %a.preapplication_footer--link{ :href => infographic_path } About the life-cycle costs approach
        %a.preapplication_footer--link{ :href => "http://blog.washcost.org/washcost-calculator/" } WASHCost Blog
        %a.preapplication_footer--link{ :href => "http://www.washcost.info/" } washcost.info

      .preapplication_footer--social
        %a.preapplication_footer--social--item.preapplication_footer--social--item-facebook{ :href => "https://www.facebook.com/ircwash" }
        %a.preapplication_footer--social--item.preapplication_footer--social--item-twitter{ :href => "http://www.twitter.com/washcostcal" }
        %a.preapplication_footer--social--item.preapplication_footer--social--item-google{ :href => "" }

      .preapplication_footer--important
        %img.preapplication_footer--logo{ :src => asset_path("static/irc.png"), :alt => 'IRC' }
        %a.preapplication_footer--important--link{ :href => "" } Privacy Statement
        .preapplication_footer--important--link © IRC. All Rights Reserved
