= content_for :title do
  The WASHCost Calculator

.homepage

  %h1.homepage--title WASHCost Calculator
  %p.homepage--subtitle
    Try the WASHCost Calculator Beta to plan
    %br/
    sustainable, long-lasting WASH services.

  .homepage--video
    %iframe{ :src => "https://player.vimeo.com/video/73270180?autoplay=false", :width => "800", :height => "451", :frameborder => "0", :webkitallowfullscreen => true, :mozallowfullscreen => true, :allowfullscreen => true }

  .homepage--buttons
    .homepage--buttons--item
      = link_to 'Try the WASHCost Calculator Beta', calculators_path, :class => 'homepage--button button button-secondary'
    .homepage--buttons--item
      = link_to 'Learn more about the life-cycle costs approach', infographic_path, :class => 'homepage--button button button-secondary'

