.footer {
  @include clearfix;

  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:$footer_height;
  overflow:hidden;
  background-color:$dark_grey;
  -webkit-font-smoothing:antialiased;
}

.footer--link {
  width:25%;
  height:$footer_height;
  padding:14px 0;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background-color:rgba(0,0,0,0);

  @include box-sizing(border-box);
  @include transition(background-color 0.3s);
}

.footer--link:hover {
  background-color:$dark_grey_hover;
}

.footer--link-report {
  float:left;
//  border-right:1px solid #000;
}

.footer--link-save {
  float:right;
//  border-left:1px solid #000;
}

.footer--progress {
  float:left;
  width:50%;
  padding:11px 40px;

  @include box-sizing(border-box);
}

.footer--progress--percentage {
  margin-bottom:5px;
  font-size:10px;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
}

.footer--progress--bar {
  height:3px;
  background-color:#484848;
}

.footer--progress--bar--fill {
  height:100%;
  background-color:$brand_orange;
}
