.info_tab {
  position:absolute;
  top:140px;
  right:0;
  width:52px;
  padding:5px 0 5px 57px;
  z-index:100;
  overflow:hidden;

  @include box-sizing(border-box);
  @include transition(width 0.75s);
}

.info_tab-open {
  width:66.66%;
}

.info_tab--icon {
  position:absolute;
  top:5px;
  left:5px;
  width:52px;
  height:52px;
  text-indent:-1000000px;
  background-color:#ff6633;
  cursor:pointer;

  @include border-radius(5px 0 0 5px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.15));
}

.info_tab--icon::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:16px;
  height:16px;
  margin:-10px;
  border:2px solid #fff;
  background:transparent image-url('icon-info.png') no-repeat 50% 50%;

  @include border-radius(100px);
}

.info_tab--container {
  width:100%;
  overflow:hidden;

  @include border-radius(0 0 0 5px);
}

.info_tab--content {
  min-height:121px;
  padding:10px 40px 10px 10px;
  border-left:2px solid #ff6633;
  text-align:left;
  background-color:rgba(51,51,51,0.975);
  word-break: break-word;
  @include border-radius(0 0 0 5px);
  @include box-sizing(border-box);

  color:#d5d7cf;
  font-size:12px;
  line-height:1.5;
  a {
      color:#d5d7cf;
      font-size:12px;
      text-align:left;
      line-height:1.5;
  }
}

.info_tab--content--title {
  color:#d5d7cf;
}

.info_tab--content--text {
  color:#d5d7cf;
  font-size:12px;
  text-align:left;
  line-height:1.5;
}

.info_tab--content--text a {
  color:$brand_orange;
  text-decoration:none;
}

.info_tab--content--text a:hover {
  text-decoration:underline;
}


@media screen and ( max-width: $mobile_breakpoint ) {

  .info_tab-open {
    width:100%;
  }

}
