.info_tab {
  position:absolute;
  top:140px;
  right:0;
  width:52px;
  padding:5px 0 5px 5px;
  z-index:100;
  max-height:300px;
  overflow:hidden;

  @include transition(width 0.75s);
}

.info_tab-open {
  width:452px;
}

.info_tab--icon {
  position:absolute;
  top:5px;
  left:5px;
  width:52px;
  height:52px;
  text-indent:-1000000px;
  background-color:#ff6633;
  cursor:pointer;

  @include border-radius(5px 0 0 5px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.15));
}

.info_tab--icon::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:16px;
  height:16px;
  margin:-10px;
  border:2px solid #fff;
  background:transparent image-url('icon-info.png') no-repeat 50% 50%;

  @include border-radius(100px);
}

.info_tab--container {
  width:400px;
  margin-left:52px;
  overflow:hidden;

  @include border-radius(0 0 0 5px);
}

.info_tab--content {
  min-height:62px;
  padding:10px;
  border-left:2px solid #ff6633;
  text-align:left;
  background-color:rgba(51,51,51,0.975);

  @include border-radius(0 0 0 5px);
  @include box-sizing(border-box);
}

.info_tab--content--title {
  color:#d5d7cf;
}

.info_tab--content--text {
  color:#d5d7cf;
  font-size:12px;
  text-align:left;
  line-height:1.5;
}

@media screen and ( max-device-width: $mobile_breakpoint ) {

  // .info_tab {
  //   top:70px;
  // }

}
