.info_tab {
  position:absolute;
  top:140px;
  right:0;
  width:52px;
  padding:5px 0 5px 5px;
  z-index:100;
  max-height:300px;
  overflow:hidden;

  @include transition(width 0.75s);
}

.info_tab-open {
  width:452px;
}

.info_tab--icon {
  position:absolute;
  top:5px;
  left:5px;
  width:52px;
  height:52px;
  text-indent:-1000000px;
  background:#ff6633 image-url('iconInfoTab8.png') no-repeat 6px 4px;
  cursor:pointer;

  @include border-radius(5px 0 0 5px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.15));
}

.info_tab--container {
  width:400px;
  margin-left:52px;
  overflow:hidden;

  @include border-radius(0 0 0 5px);
}

.info_tab--content {
  min-height:62px;
  padding:10px;
  border-left:2px solid #ff6633;
  text-align:left;
  background-color:rgba(51,51,51,0.975);

  @include border-radius(0 0 0 5px);
  @include box-sizing(border-box);
}

.info_tab--content--title {
  color:#d5d7cf;
}

.info_tab--content--text {
  color:#d5d7cf;
  font-size:12px;
  text-align:justify;
  line-height:1.5;
}
