.navigation {
  margin-bottom:40px;
  padding-bottom:15px;
  text-align:center;

  @include box-shadow(0 11px 5px -10px rgba(0,0,0,0.075));
}

.navigation--category {
  display:inline-block;
  margin-bottom:12px;

  @include clearfix;
}

.navigation--category--item {
  float:left;
  list-style-type:none;
}

.navigation--category--item + .navigation--category--item {
  margin-left:20px;
}

.navigation--category--link {
  font-size:15px;
  font-weight:bold;
  color:rgba(3,3,3,0.2);
  text-transform:uppercase;
  white-space:nowrap;
  text-decoration:none;
  -webkit-font-smoothing:antialiased;

  @include transition(color 0.3s);
}

.navigation--category--link:not(.navigation--category--link-active):hover {
  color:rgba(255,255,255,0.5);
}

.navigation--category--link-active {
  color:$dark_grey;
}

.navigation--subcategory {
  display:inline-block;
  max-width:100%;
  height:40px;
  overflow:hidden;
  margin:0 auto;
  white-space:nowrap;
  background-color:rgba(255,255,255,0.3);

  @include border-radius(5px);
}

.navigation--subcategory--list {
  display:block;

  @include clearfix;
}

.navigation--subcategory--item {
  float:left;
  list-style-type:none;
}

.navigation--subcategory--link {
  float:left;
  height:40px;
  width:160px;
  padding:14px 0;
  font-weight:bold;
  font-size:13px;
  color:rgba(3,3,3,0.2);
  text-decoration:none;
  -webkit-font-smoothing:antialiased;

  @include border-radius(5px);
  @include box-sizing(border-box);
  @include transition(background-color 0.3s, color 0.3s);
}

.navigation--subcategory--link:not(.navigation--subcategory--link-active):hover {
  background-color:rgba(255,255,255,0.3);
}

.navigation--subcategory--link-active {
  color:#a9985e;
  background-color:#fff;
}

.navigation--subcategory--link-resolved {
  color:#fff;
  text-shadow:0 -1px 0 $medium_brown;
}

.js .navigation--subcategory-mobile {
  position:relative;
}

.nav-toggle {
  display:none;
}

@media screen and ( max-device-width:$mobile_breakpoint ) {

  .navigation--category {
    width:100%;
    margin-bottom:10px;
  }

  .navigation--subcategory {
    height:auto;
    margin-bottom:10px;
    width:auto !important; //override js style
  }

  .navigation--category--item {
    float:none;
    display:inline-block;
  }

  .navigation--subcategory--list {
    overflow:auto;
  }

  .navigation--subcategory--item {
    width:auto;
    float:none;
  }

  .navigation--subcategory--link {
    width:100%;
    float:none;
    display:block;
  }

  .navigation--subcategory-mobile ul {
    margin:0;
    padding:0;
    width:100%;
    display:block;
    list-style:none;
  }

  .navigation--subcategory-mobile li {
    width:100%;
    display:block;
  }

  .js .navigation--subcategory-mobile {
    clip:rect(0 0 0 0);
    max-height:0;
    position:absolute;
    display:block;
    overflow:hidden;
    zoom:1;
  }

  .navigation--subcategory-mobile.opened {
    max-height:9999px;
  }

  .js .navigation--subcategory-mobile.closed {
    max-height:auto;
  }
  .navigation--subcategory-mobile.disable-pointer-events {
    pointer-events:none !important;
  }

  .nav-toggle {
    display:inline-block;
    padding:14px;
    font-weight: bold;
    font-size: 13px;
    color: rgba(3, 3, 3, 0.5);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
  }

  .nav-toggle:hover {
    background-color:rgba(255, 255, 255, 0.6);
  }

}
