.question {
  margin:0 3%;
  text-align:center;
}

.question--title {
  margin-bottom:30px;
  font-size:30px;
  font-weight:normal;
  color:#fff;
  -webkit-font-smoothing:antialiased;
}

.question--answer--title {
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:10px;
}

.question--image {
  height:90px;
  overflow:hidden;
  margin-bottom:20px;
}

.question--image::before {
  margin-top:-15px;
}

.question--radios {
  display:inline-block;
  text-align: center;
  @include clearfix;
}

.question--radios--label {
  position:relative;
  display: inline-block;
  width:160px;
  cursor:pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.question--radios--label-narrow {
  width:140px;
}

.question--radios--label-wide {
  width:200px;
}

.question--radios--label {
  margin: 0 10px;
}

.question--radios--label-narrow + .question--radios--label-narrow {
  margin-left:16px;
}

.question--radios--radio {
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
}

.question--checked_icon {
  position:absolute;
  top:10px;
  right:10px;
  width:22px;
  height:22px;
  background:$medium_brown image-url('icon-tick.png') no-repeat 50% 50%;
  opacity:0;

  @include border-radius(100px);
  @include transition(opacity 0.75s);
}

.question--radios--icon-narrow::before {
  margin-left:-10px;
}

.question--radios--radio:checked + .question--checked_icon {
  opacity:1;
}

.question--radios--icon {
  background-color:rgba(0,0,0,0.05);

  @include border-radius(5px);
  @include transition(background-color 0.3s);
}

.question--radios--label:hover .question--radios--icon {
  background-color:rgba(255,255,255,0.1);
}

.question--radios--radio:checked + .question--checked_icon:nth-child(n) + .question--radios--icon {
  background-color:rgba(255,255,255,0.25);
}

.question--radios--text {
  display:block;
  padding:12px 0;
  font-size:14px;
  font-weight:bold;
  color:rgba(0,0,0,0.25);
}

.question--buttons {
  margin-top:30px;
  text-align:center;
}

@media screen and ( max-width: $mobile_breakpoint ) {

  .question--radios {
    display:block;
    text-align:center;
  }

  .question--radios--label {
    position:relative;
    float:none;
    display:block;
    width:auto;
    min-height:183px;
    margin-right:15px;
    margin-left:15px;
  }

  .question--radios--label + .question--radios--label {
    margin-left: 15px;
  }

  .question--radios--text {
    position:absolute;
    width:100%;
    top:125px;
  }

}
