<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">All contacts</li>
            {{#each contact in controller}}
                {{caption}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="span9">
    {{outlet}}
</div>
