-#.contain-to-grid
-#  %nav.top-bar
-#    %ul.title-area
-#      %li.name
-#        %h1
-#          %a{:href => "#"} Title
-#      %li.toggle-topbar.menu-icon
-#        %a{:href => "#"}
-#          %span Menu
-#    %section.top-bar-section
-#      %ul.left
-#        %li
-#          %a{:href => "#"} Link
-#        %li
-#          %a{:href => "#"} Link
-#        %li
-#          %a{:href => "#"} Link
-#      %ul.right
-#        %li.has-dropdown
-#          %a{:href => "#"} Link
-#          %ul.dropdown
-#            %li.title.back.js-generated{:style => ""}
-#              %h5
-#                %a{:href => "#"} Link
-#            %li
-#              %a{:href => "#"} Dropdown Link
-#            %li
-#              %a{:href => "#"} Dropdown Link
-#            %li
-#              %a{:href => "#"} Dropdown Link
.nav-basic-container
  .row
    .large-4.large-offset-4.columns
      .headernav-basic-tool
        %ul{'data-number-of-items' => @navigation_header.present? ? @navigation_header[:number_of_items] : -1}
          - questionnaire_sections.each do |item|
            %li{class: item[:class]}
              = link_to item[:name], cal_water_basic_header_navigation_path(number_of_items: item[:number_of_items], redirect_to: item[:redirect_to])
  .navigation-basic-tool
    %ul
      - questionnaire_items_list.each do |item|
        %li{class: item[:class]}
          %a{:href => item[:link]}= item[:name]
        %li.divisor

