.advanced-fictitius-tool{
  .main-form{
    .note{
      font-size: 12px;
      margin-bottom: 20px;
    }
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.1);
    .technologies{
      padding: 20px;
      background-color: rgba(255,255,255,0.1);
      .technology{
        margin-top: 10px;
        padding: 20px;
        background-color: rgba(255,255,255,0.1);
        .costs{
          padding: 20px;
          background-color: rgba(255,255,255,0.1);
        }
      }
    }
    .service_level{
      padding: 20px;
      background-color: rgba(255,255,255,0.1);
    }
    .submit{
      margin-top: 20px;
    }
  }
}
