@import 'foundation_and_overrides';
@import 'sprite-set-basictool.css.scss';
.report{
  .primary-section{
    background-color: rgb(173,203,84);
    color: #333;
    text-align: center;
    .header{
      margin-top: 35px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      color: #fff;
    }
    .cross{
      margin-top: 45px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 300;
      text-align: right;
      color: #fff;
      padding-right: 40px;
    }
    .title{
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 500;
      text-spacing: 2px;
    }
    .total_cost{
      margin-top: 30px;
      .title{
        text-transform: uppercase;
        font-size: 16px;
      }
      .value{
        margin-top: 10px;
        font-size: 30px;
        font-weight: 500;
        color: #fff;
      }
      .caption{
        font-size: 12px;
        font-weight: 300;
        text-transform: none;
        margin-top: 20px;
      }
    }
    .level_of_service{
      margin-top: 30px;
      .title{
        text-transform: uppercase;
        font-size: 16px;
      }
      .rating{
        width: 100%;
        height: 39px;
        background: transparent url('/assets/starsLevel81.png') no-repeat 50% 0;
        &.level-start-0 {
          background-position: 50% 0;
        }
        &.level-start-1 {
          background-position: 50% -50px;
        }
        &.level-start-2 {
          background-position: 50% -150px;
        }
        &.level-start-3 {
          background-position: 50% -100px;
        }
        &.level-start-4 {
          background-position: 50% -200px;
        }
      }
      .caption{
        margin-top: 20px;
        font-size: 12px;
        font-weight: 300;
        text-transform: none;
      }
    }
    .result{
      .icon{
        text-align: center;
        margin: 0 auto;
        width: 26px;
        height: 25px;
        text-indent: 20px;
        background: transparent url('/assets/benchBackground.png') no-repeat 0 -68px;
        &.bench-icon-1{
          background: transparent url('/assets/benchBackground.png') no-repeat 0 -11px;
        }
      }
      .caption{
        text-transform: none;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        padding-bottom:  15px;
        border-bottom: #fff solid 1px;
      }
      .review{
        //*** accordion review style
        .section-review {
          @include section-container(accordion);
          & > section { @include section(accordion, ".title-review", ".content-review", $title-padding: 10px 10px, $title-color:#fff, $title-bg:rgb(173,203,84), $title-bg-hover:darken(rgb(173,203,84),1%), $title-bg-active: rgb(173,203,84), $title-color-active: darken(#fff,90%), $content-bg: rgb(173,203,84), $section-border-color: rgb(173,203,84)); }
          border: none;
          section{
            border: none;
            .title-review{
              a{
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                text-transform: none;
              }
            }
            .content-review{
              padding: 0 5px 0px 5px;
              p{
                color: #fff;
                font-size: 12px !important;
                text-align: justify;
                font-weight: lighter;
                text-transform: none;
              }
            }
          }
        }
      }
    }
  }
  .content-section{
    background: -moz-linear-gradient(right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, right, left , color-stop(0%, rgb(221, 214, 153)), color-stop(50%, rgb(235, 232, 202)), color-stop(100%, rgb(221, 214, 153)));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153)100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153) 100%); /* W3C */
    border-top : #fff solid 5px;
    background-color: rgb(173,203,84);
    color: #333;
    text-align: center;
    padding-bottom: 20px;
    .title{
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 500;
      text-spacing: 2px;
    }
    .subtitle{
      margin-top: 10px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      text-transform: none;
    }

    &.cost{
      .graph{
        text-align: center;
        #graphContent{
          text-align: center;
          margin: 0 auto;
        }
      }
      .title-cost-box{
        margin: 0 auto;
        max-width: 150px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-transform: none;
        min-height: 28px;
      }
      .total{
        color: rgb(173,203,84);
        margin-top: 20px;
        font-size: 50px;
        font-weight: 600;
      }
    }
    &.service_level{
      .distance-container{
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 20px;
        .house{
          width: 61px;
          height: 51px;
          float: left;
        }
        .line-to-right{
          float: left;
          height: 51px;
          /* Firefox */
          width: -moz-calc((100% - 222px)/2);
          /* WebKit */
          width: -webkit-calc((100% - 222px)/2);
          /* Opera */
          width: -o-calc((100% - 222px)/2);
          /* Standard */
          width: calc((100% - 222px)/2);
          /* curved line */
          //margin:0 auto;
          .canvas{
            margin-top: 10px;
            width: 100%;
            height: 41px;
            border-top: 2px solid rgb(199, 182, 139);
            border-top-left-radius: 63%;
          }
        }
        .value{
          margin-top: -20px;
          width: 100px;
          float: left;
          text-align: center;
          .header{
            text-transform: none;
            font-size: 14px;
          }
          .amount{
            font-size: 50px;
            font-weight: 300;
          }
          .caption{
            text-transform: none;
            margin-top: 7px;
            font-size: 14px;
          }
        }
        .line-to-left{
          float: right;
          height: 51px;
          /* Firefox */
          width: -moz-calc((100% - 222px)/2);
          /* WebKit */
          width: -webkit-calc((100% - 222px)/2);
          /* Opera */
          width: -o-calc((100% - 222px)/2);
          /* Standard */
          width: calc((100% - 222px)/2);
          .canvas{
            margin-top: 10px;
            width: 100%;
            height: 41px;
            border-top: 2px solid rgb(199, 182, 139);
            border-top-right-radius: 63%;
          }
        }
        .water{
          float: right;
          width: 61px;
          height: 51px;
        }
      }
      .edit-distance{
        background-color: rgba(100,100,70,0.1);
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin: 0 auto;
        img{
          position: relative;
          width: 17px;
          height: 17px;
          top: 11px;
          left: 1px;
        }
      }
    }
  }
  .box-report{
    margin: 20px auto;
    width: 280px;
    height: 280px;
    background-color: rgba(175,175,175,0.1);
    box-shadow: 0px 2px 0px 0px rgba(3,3,3,0.2);
    border-radius: 7px;
    position: relative;
    .title{
      padding-top: 30px;
      padding-bottom: 30px;
      text-transform: uppercase;
      font-size: 16px;
    }
    .icon{
      &.country{
        @extend %country-sprite-selector;
      }
      &.water{
        @extend %water-sprite-selector;
      }
      &.population{
        @extend %population-sprite-selector;
      }
      &.quantity{
        @extend %quantity-sprite-selector;
      }
      &.quality{
        @extend %quality-sprite-selector;
      }
      &.reliability{
        @extend %reliability-sprite-selector;
      }
      &.latrine{
        @extend %latrine-sprite-selector;
      }
      &.providing{
        @extend %providing-sprite-selector;
      }
      &.impermeability{
        @extend %impermeability-sprite-selector;
      }
      &.environment{
        @extend %environment-sprite-selector;
      }
      &.usage{
        @extend %usage-sprite-selector;
      }
      background-color: rgba(3,3,3,0.1);
      text-align: center;
      margin: 0 auto;
      width: 130px;
      height: 130px;
    }
    .caption{
      margin: 0 auto;
      margin-top: 20px;
      max-width: 130px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      text-transform: none;
    }
    .edit{
      position: absolute;
      background-color: rgba(100,100,70,0.1);
      width: 40px;
      height: 40px;
      top: 220px;
      left: 20px;
      border-radius: 5px;
      img{
        position: relative;
        width: 17px;
        height: 17px;
        top: 11px;
        left: 1px;
      }
    }
  }
  .cost-box-report{
    margin: 20px auto;
    width: 210px;
    height: 56px;
    background-color: rgba(175,175,175,0.1);
    box-shadow: 0px 2px 0px 0px rgba(3,3,3,0.2);
    border-radius: 7px;
    position: relative;
    .value{
      position: relative;
      top: 21px;
      text-align: left;
      margin-left: 20px;
    }
    .edit{
      position: absolute;
      background-color: rgba(100,100,70,0.1);
      width: 40px;
      height: 40px;
      top: 8px;
      left: 162px;
      border-radius: 5px;
      img{
        position: relative;
        width: 17px;
        height: 17px;
        top: 11px;
        left: 1px;
      }
    }
  }
}
