.nav-basic-container{
  padding-bottom: 20px;
    box-shadow: 0px 11px 10px -9px rgba(3, 3, 3, 0.15);
    -moz-box-shadow: 0px 11px 10px -9px rgba(3, 3, 3, 0.15);
  .navigation-basic-tool{
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    ul{
      position: relative;
      left: 0px;
      li{
        //float: left;
        position: relative;
        top: -6px;
        display: inline-block;
        text-align: center;
        height: 40px;
        width: 160px;
        list-style-type: none;
        border-radius: 5px;
        &.divisor{
          top: 10px;
          position: relative;
          margin-left: -4px;
          margin-right: -5px;
          width: 1px;
          height: 20px;
          border: none;
          background-color: #b2a889;
        }
        &.active{
          position: relative;
          top: -6px;
          background-color: #fff;
          color: #a9985e;
        }
        &.resolved{
          position: relative;
          top: -6px;
          a{
            color: #fff;
          }
        }
        &:hover{
          position: relative;
          top: -6px;
          background-color: rgba(255,255,255,0.3);
        }
        a{
          font-weight: bold;
          font-size: 13px;
          color: rgba(3,3,3,0.2);
          position: relative;
          top: 10px;
        }
      }
    }
  }
  .headernav-basic-tool{
    ul{
      li{
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 32%;
        list-style-type: none;
        &.active{
          a{
            color: rgba(0,0,0,0.8);
          }
        }
        a{
          text-align: center;
          font-weight: bolder;
          color: rgba(3,3,3,0.2);
          text-transform: uppercase;
        }
      }
    }
  }
}


