.basic_tool{
  .question{
    margin-top: 40px;
    font-size: 30px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    line-height: 35px;
  }
  .caption{
    margin-top: 40px;
    font-size: 16px;
    font-weight: lighter;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .choices-section{
    // Just country section
    &.country{
      .icon{
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 71px;

      }
      .form-country{
        .choices-select{
          width:350px;
          margin: 0 auto;
          .chosen-container{
            border: none;
            .chosen-single{
              background: #ddd8bc;
              height: 45px;
              color: #333;
              font-size: 18px;
              padding-top: 12px;
              text-align: left;
              border: none;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
              span{
                margin-left: 15px;
              }
              div{
                width: 26px;
                left: 320px;
                top: 6px;
                b{
                  background: transparent url('/assets/spriteArrow8.png') no-repeat 85% -187px;
                }
              }
            }

          }
          .chosen-container-active.chosen-with-drop{
            div{
              b{
                background-position: 0 -237px;
              }
            }
            .chosen-drop{
              background: #333;
              font-size: 15px;
              text-align: left;
              color: #fff;
              .chosen-results{
                .active-result{
                  padding-top: 10px;
                  &.highlighted{
                    background: #5d5d5d;
                  }
                }

              }
            }
          }
        }

      }
    }

    // CSS template to selects radiobutton-based
    .select-container{
      margin-top: 10px;
      text-align: center;
      margin-bottom: 40px;
      label{
        position: relative;
        top: 0px;
        margin-right: 5px;
        margin-left: 5px;
        display: inline-block;
        width: 130px;
        height: 160px;
        vertical-align: text-top;
        &.ticked{
          span{
            color: rgba(3,3,3,0.8);
          }
        }
        input{
          display: none;
        }
        span{
          position: relative;
          top: 130px;
          text-align: center;
        }
      }
    }

    // Action CSS
    .action{
      margin-top: 40px;
      //margin-bottom: 40px;
      text-align: center;
      .button{
        font-weight: bolder;
      }
    }

    // Just Slider Section
    .slider-section{
      text-align: center;
      .slider-output{
        display: inline-block;
        text-align: center;
        min-width: 150px;
        height: 42px;
        font-size: 30px;
        color: #fff;
        padding: 6px 25px 10px;
        margin: 0 17px auto;
        background: #dad3b1;
        -webkit-box-shadow: 0px -2px 8px 0px rgba(92, 82, 73, 0.31);
        box-shadow: 2px -5px 3px -3px rgba(92, 82, 73, 0.31);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      .labeling-images{
        text-align: left;
      }
      .labelScale{
        position: relative;
        top: -60px;
        list-style-type: none;
        text-align: left;
        li{
          display: inline-block;
          position: relative;
          span{
            font-weight: bolder;
            font-size: 14px;
            color: #333;
          }
        }

      }
      .slider-container{
        background: none;
        background-color: #fff;
        height: 3px;
        border: none;
        color: none;
        margin-top: 70px;
        margin-bottom: 70px;
        &.threshold-marks{
          background-color: transparent;
          height: 30px;
          background-image: url(/assets/slider/sliderCursorRight.png), url(/assets/slider/sliderCursorLeft.png), url(/assets/slider/sliderGrayLine.png);
          background-repeat: no-repeat, no-repeat, no-repeat;
          background-position-y: 1px, 0, 0px;
          background-position-x: 800px, 20px, 1px;
          a.ui-slider-handle{
            top: -5px;
          }
        }
        a.ui-slider-handle{
          border: none;
          cursor: pointer;
          width: 40px;
          height: 42px;
          background: transparent url('/assets/sliderScroll24.png') no-repeat 0 0;
          top: -17px;
        }
      }
      &.time{
        .labeling-images{
          .imgHouse{
            position: relative;
            left: 269px;
            top: -47px;
            height: 45px;
          }
          .imgTime{
            position: relative;
            left: 598px;
            top: -51px;
            height: 45px;
          }
        }
      }
    }
  }
}
