body{
  overflow: hidden;
}
.info-tab{
  //display: none;
  z-index: 100;
  clear: both;
  overflow: hidden;
  position: absolute;
  width: 301;
  top: 240px;
  max-height: 300px;
  overflow-y: auto;
  .tab {
    display: block;
    float: left;
    width: 51px;
    height: 51px;
    text-indent: -1000000px;
    background: #ff6633 url('/assets/iconInfoTab8.png') no-repeat 6px 4px;
  }
  .tab-content {
    overflow-y: auto;
    float: left;
    text-align: left;
    width: 250px;
    padding: 5px 10px 10px;
    border-left: 2px solid #ff6633;
    background: transparent url('/assets/bgInfoTab8.png') repeat 0 0;

    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    h3 {
      color: #d5d7cf;
    }
    p {
      color: #d5d7cf;
      font-size: 12px;
      text-align: justify;
    }
  }
}
