.select-container-simple{
  .chosen-container-single{
    .chosen-single{
      height: 31px;
      border-radius: 0;
      background: #fff;
      border-color: #C2C2C2;
      margin-bottom: 17px;
      padding-top: 3px;
    }
  }
}
