@import 'foundation_and_overrides';
.button-landing-page {
  @include button(0, #f37540, true, false, false, false);
}
.button-landing-page-size{
  @include button-size(0,100px,false);
}

//*** popup-style
// notification popup
.washcost-popup{
  .notification {
    @include reveal-modal-style(#333333, 10, true, solid, 1px, #333333, true, 30);
    .close{
      @include reveal-close(#fff);
    }
    &.subscriber{
      .title{
        font-weight: 400;
        text-align: center;
        font-size: 19;
        color: white;
      }
      .caption{
        margin-left: 30px;
        margin-right: 30px;
        color: #959595;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 15px;
      }
      .footpage{
        color: #5b5b5b;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 12px;
      }
    }
    form{
      .error-notification{
        margin: 10px 10px 10px 13px;
        color: #ff5e3d;
      }
      .email{
        float: left;
        margin-right: 21px;
        margin-left: 17px;
      }
      .btn{
        float: left;
      }
    }
  }
}



// body and main container style
body{
  background: -moz-linear-gradient(top,  #9f8c61 0%, #a89761 30%, #bfb373 63%, #d1c887 100%); //* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f8c61), color-stop(30%,#a89761), color-stop(63%,#bfb373), color-stop(100%,#d1c887));//* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9f8c61 0%,#a89761 30%,#bfb373 63%,#d1c887 100%); //* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9f8c61 0%,#a89761 30%,#bfb373 63%,#d1c887 100%); //* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9f8c61 0%,#a89761 30%,#bfb373 63%,#d1c887 100%); //* IE10+ */
  background: linear-gradient(to bottom,  #9f8c61 0%,#a89761 30%,#bfb373 63%,#d1c887 100%); //* W3C */
}
.main-container{
  //background-color: rgba(254, 255, 222, 0.1);
}

.landing-container{
  h3{
    color: white;
    font-weight: 200;
  }
  .caption{
    color: #cfc5ad;
    font-size: 14px;
    font-weight: 600;
  }
  margin-top: 40px;
  background-color: rgba(254, 255, 222, 0.1);
  margin-bottom: 20px;
  -webkit-box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, 0.83);
  box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, 0.83);
  padding-top: 20px;
}

//session devise
.session{
  background-color: #333333;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;

  .error_caption{
    h2{
      font-size: 14px;
      color: #f37540;
    }
    ul, li{
      list-style-type: none;
      color: #aaaaaa;
      font-size: 14px;
    }
  }
  span.error{
    visibility: hidden;
    display: none;
  }
  .margin-offset{
    padding-left: 10px;
    padding-right: 10px;
  }
  h5{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
  }
  .login-button{
    width: 150px;
    input{
      margin: 0 0 0.25em;
    }
  }
  .login-links{
    a{
      color: #5d5d5d;
      font-size: 14px;
      &:hover{
        text-decoration: underline;
        color: #aaaaaa;
      }
    }
  }
  .special-textfiled{
    input{
      background-color: #484848;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 3px 5px -2px rgba(255,255,255,0.3);
    }
  }
  .remember_me{
    margin-top: 10px;
    margin-bottom: 10px;
    .check_box{
      float: left;
    }
    .caption{
      color: #aaaaaa;
      font-size: 14px;
    }
    .special-textfiled{
      input{
        background-color: #484848;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 3px 5px -2px rgba(255,255,255,0.3);
      }
    }
  }

}
.pad-session{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

// dashboard style
.dashboard{
  //background-color: rgba(254, 255, 222, 0.3);
  .section{
    color: #58595b;
    h5{
      color: #58595b;
    }
    background-color: rgba(254, 255, 205, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    img{
      padding-left: 20px;
    }
    p{
      margin-bottom: 5px;
      font-size: 13px;
      font-family:  sans-serif;
    }
    .link-container{
      margin-right: 20px;
    }

  }
  .reports-tag{
       width: 150px;
       height: 40px;
       background-color: #dbdbda;
       position: relative;
       left: 70px;
       top: 21px;
       text-align: center;
       vertical-align: middle;
       padding-top: 12px;
       color: #5d5d5d;
       font-weight: bolder;
       font-size: 18px;
   }
  .reports{
    margin-left: 40px;
    text-align: center;
    table{
      border-top: #c0c0c0 solid 4px;
      th{
        font-size: 12px;
        padding-top: 40px;
        color: #58595b;
        border-bottom: #dfdfdf solid 3px;
      }
      h4{
        color: #58595b;
      }
      h5{
        color: #58595b;
      }
      color: #58595b;
    }
  }
}

// FOOTER
footer{
  .footer{
    height: 100px;
    width: 100%;
    background-color: #333;
  }
}

// chosen select flat style
.select-container-simple{
  .chosen-container{
    border: #333 solid 1px !important;
  }
  .chosen-container-single{
    .chosen-single{
      height: 31px;
      border-radius: 4px;
      background: #484848;
      border: none;
      color: #aaaaaa;
      margin-bottom: 13px;
      padding-top: 3px;
      text-decoration: none;
    }
  }
}

// top nav bar style
.main-navigation{
  .main_logo{
    margin-left: 30px;
    margin-top: 10px;
  }
  .topbar-sign{
    color: #ff5e3d
  }
}


// landing page selector style
.tool-selector-container{
  section.calculatorSwitch{
    //width: 49%;
    margin: 0 auto;
    overflow: hidden;
    &.height-tool-type{
      height: 160px;
    }
  }

  .calculatorSwitch{
    ul{
      overflow: hidden;
      margin-bottom: 0px;
    }
    li{
      position: relative;
      width: 203px;
      float: left;
      margin-right: 20px;
      margin-left: 20px;
      color: transparent;
    }
    label{
      width: 100%;
      height: 205px;
      &.tool_name{
        background: transparent url('/assets/SpriteCalculatorScheme24.png') no-repeat 0 -194px;
      }
      &.tool_type{
        background: transparent url('/assets/SpriteCalculatorToolType.png') no-repeat 0 -194px;
        height: 100px;
      }
      &.toolSanitation{
        background-position: -210px -232px;
        &.ticked{
          background-position: -210px 0;
        }
      }
      &.toolWater{
        background-position: 0 -232px;
        &.ticked{
          background-position: 0 0;
        }
      }
      &.toolAdvanced{
        margin-top: 0px;
        height: 70px;
        background-position: -211px -273px;
        &.ticked{
          background-position: -211px 0;
        }
      }
      &.toolBasic{
        margin-top: 0px;
        height: 70px;
        background-position: 0 -273px;
        &.ticked{
          background-position: 0 0;
        }
      }
      input{
        position: absolute;
        top: -100000px;
        left: -100000px;
      }
      span{
        display: block;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
        color: #8f7e5a;
      }

      &.ticked{
         span{
           color: #312618;
         }
      }
    }
  }
  .tool-selection-submit{
    display: table;
    margin: 0 auto;
    width: 444px;
  }
}


