@import 'foundation_and_overrides';
.button-landing-page {
  @include button(0, #ff7149, true, false, false, false);
}
// body and main container style
body{
  background: linear-gradient(to bottom, #a28a64 0%, #d5c98f 100%);
}
.main-container{
  background-color: rgba(254, 255, 222, 0.1);
}

// dashboard style
.dashboard{
  //background-color: rgba(254, 255, 222, 0.3);
}

// chosen select flat style
.select-container-simple{
  .chosen-container-single{
    .chosen-single{
      height: 31px;
      border-radius: 0;
      background: #fff;
      border-color: #C2C2C2;
      margin-bottom: 17px;
      padding-top: 3px;
    }
  }
}

// top nav bar style
.main-navigation{
  .main_logo{
    margin-left: 30px;
    margin-top: 10px;
  }
  .topbar-sign{
    color: #ff5e3d
  }
}


// landing page selector style
.tool-selector-container{
  section.calculatorSwitch{
    //width: 49%;
    margin: 0 auto;
    overflow: hidden;
  }
  .calculatorSwitch{
    ul{
      overflow: hidden;
      margin-bottom: 45px;
    }
    li{
      position: relative;
      width: 203px;
      float: left;
      margin-right: 10px;
      color: transparent;
    }
    label{
      width: 100%;
      height: 205px;
      &.tool_name{
        background: transparent url('/assets/SpriteCalculatorScheme24.png') no-repeat 0 -194px;
      }
      &.tool_type{
        background: transparent url('/assets/SpriteCalculatorToolType.png') no-repeat 0 -194px;
        height: 100px;
      }
      &.toolSanitation{
        background-position: -210px -194px;
        &.ticked{
          background-position: -210px 0;
        }
      }
      &.toolWater{
        background-position: 0 -194px;
        &.ticked{
          background-position: 0 0;
        }
      }
      &.toolAdvanced{
        background-position: -211px -131px;
        &.ticked{
          background-position: -211px 0;
        }
      }
      &.toolBasic{
        background-position: 0 -131px;
        &.ticked{
          background-position: 0 0;
        }
      }
      input{
        position: absolute;
        top: -100000px;
        left: -100000px;
      }
      span{
        display: block;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
      }

      &.ticked{
         span{
           color: #9e9474;
         }
      }
    }
  }
}

