<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">{{#linkTo "sections"}}Ember Questions{{/linkTo}}</div>
    </div>
  </div>
</div>
<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{outlet}}
  </div>
</div>
