<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">{{#linkTo "questions"}}Ember Questions{{/linkTo}}</div>
      <div class="btn-group pull-right">
        new
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{outlet}}
  </div>
</div>
