<div class="advanced-tool water">
    <div class="row main-bar">
        <div class="large-12 columns">
            <div class="brand">{{#linkTo "sections"}}Advanced Questionnaire{{/linkTo}}</div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {{outlet}}
        </div>
    </div>
</div>

