<dl class="dl-horizontal">
    {{#if name}}
        <dt>name:</dt>
        <dd>{{name}}</dd>
    {{/if}}
    {{#if questions.length}}
        <dt>Questions:</dt>
        <dd>
            {{#each question in questions}}
                <div>{{question.caption}}</div>
                <div>{{question.type}}</div>
                {{#if question.isTextField}}
                    {{washcost-textfield placeholder=question.properties.placeholder}}
                {{/if}}
            {{/each}}
        </dd>
    {{/if}}
</dl>


