
<div class="section-navbar">
    <ul>
        {{#each section in controller}}
            {{view App.SectionInListView contentBinding="section"}}
        {{/each}}
    </ul>
</div>

<div class="section-container">
    {{outlet}}
</div>
