<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            {{#each section in controller}}
                {{view App.SectionInListView contentBinding="section"}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="span9">
    {{outlet}}
</div>
