<% @title = "4 of 9 (Capital Expenditure)" %>

<h1><%= t 'form.shared.capital.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "capital"}, class: "main_content sanitation", id: "waterBasicForm") do %>


    <div class="choices capitalSlider">
      <div class="value">
        <div class="valueOutput"><span id="capitalValue">30</span>$</div>
        <div class="valueLabel">Per person (USD)</div>
      </div>
      <div id="capitalSlider">
      </div>
      <ul class="labelScale">
        <li class="first">
          <span class="estimate">Bellow</span>
            <span class="numRounding">48</span>
        </li>
        <li class="last">
          <span class="estimate">Above</span>
          <span class="numRounding">109</span>
        </li>
      </ul>
    </div>

    <input type="hidden" name="capital"/>
    <%= submit_tag((t 'buttons.next'), class: "next_button") %>
<% end %>