<% @title = "Start" %>

<h1 class="basic_tool_header_item"><%= t 'form.sanitation_basic.country.question' %></h1>

<%= form_tag({controller: "sanitation_basic", action: "country"}, class: "main_content", id: "waterBasicForm") do %>
    <img src="/assets/world8.png" alt="Which country are we">
    <div class="choices countryChoices">

      <%= select_tag "country",
                     options_for_select(get_countries, flash[:country_code]),
                     :include_blank=>(t 'form.advanced.shared.country.placeholder'),
                     :class=>"chzn-select", :tabindex=>1
      %>
    </div>

    <%= submit_tag((t 'buttons.start'), class: "next_button selectCountry") %>

<% end %>
