<% @title = "Population" %>

<h1><%= t 'form.water_basic.population.question' %></h1>
<%= form_tag({controller: "sanitation_basic", action: "population"}, class: "main_content", id: "waterBasicForm") do %>

    <div class="choices">
      <div class="value">
        <div id="populationValue" class="valueOutput">500</div>
        <div class="valueLabel"><%= t 'form.water_basic.population.answers.value_label' %></div>
      </div>
      <div id="populationSlider"></div>
    </div>

    <input type="hidden" name="population"/>
    <%= submit_tag((t 'buttons.next'), class: "next_button") %>
<% end %>