body{
  background-color: rgb(248, 247, 238);
}
.advanced-tool{
  &.water{
    .section-navbar{
      margin: 0 auto;
      height: 40px;
      overflow: hidden;
      white-space: nowrap;
      background-color: rgb(229,228,221);
      ul{
        position: relative;
        left: 0px;
        li{
          //float: left;
          position: relative;
          display: inline-block;
          text-align: center;
          height: 40px;
          width: 20%;
          list-style-type: none;
          border-radius: 5px;
          &:hover{
            position: relative;
            background-color: rgb(211, 210, 203);
          }
          a{
            font-weight: bolder;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(3, 3, 3, 0.41);
            position: relative;
            top: 8px;
          }
        }
      }
    }
  }

}
