
<div class="header">
  <a href="#" class="logo">
    <img src="/assets/logoWashCost8.png" alt="WASHCost"/>
  </a>
  <ul>
    <li><a href="#"><%= t 'nav.utility.about' %></a></li>
    <li><a href="#"><%= t 'nav.utility.contact' %></a></li>
    <li>
      <ul class="languageSwitcher">
        <li><a class="active" href="?lang=en">English</a></li>
        <li><a href="?lang=fr">Français</a></li>
      </ul>
    </li>
    <li><a class="sign" href="#"><%= t 'nav.utility.sign_in' %></a></li>
  </ul>
</div>