%header.header
  .page_content
    .header--content

      = link_to root_path, class: 'header--logo' do
        = image_tag 'image-logo.png', class: 'header--logo--image', :alt => 'WASHCost powered by IRC', :width => 200, :height => 38

      = link_to 'Try the WASHCost Calculator Beta', cal_path, :class => 'header--primary_button button'