%p#notice= notice

%p
  %b Something:
  = @advanced_water_questionnaire.title

= link_to 'Edit', edit_advanced_water_questionnaire_path(@advanced_water_questionnaire)
\|
= link_to 'Back', advanced_water_questionnaires_path
