<!DOCTYPE html>
<html>
<head>	
	<title>The WASHCost Calculator</title>	
	 		
	<!-- CSS -->
	<link rel="stylesheet" href=<%=asset_path "static/style.m.css"%> type="text/css">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
<div id='wrapper'>	
	<div id='header'>
		<div id='wc-logo'>
			<a href="http://www.washcost.info/"><img src=<%=asset_path "static/WClong.png"%> alt="WASHCost"></a>
		</div>
		
	</div>
	<div id='content'>
		<div id='title'>
			<h1>WASHCost Calculator</h1>
			<p>Try the WASHCost Calculator Beta to plan<br>
			sustainable, long-lasting WASH services.</p>
		</div>
		<div id='video'>
			<iframe src="https://player.vimeo.com/video/73270180?" width="500" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>			
		</div>
		<div id='button-wrapper'>
			<a href=""> <!-- Link to infographic -->
				<div id='learnmore'>
					Learn more about the WASHCost Project
				</div>
			</a>
			<a href=<%=url_for "cal/"%>>
				<div id='c-trybutton'>
				Try the WASHCost Calculator Beta
				</div>
			</a>
		</div>
	</div>	
	<div id='footer'>
		
		<div id='irc-wrapper'>
			<div id='ircdiv'><img id='ircimg' src=<%=asset_path "static/irc.png"%>></div><br>
			<a href="">Privacy Statement</a><br>
			<p>© IRC. All Rights Reserved</p>

		</div>
	</div>
</div>
</body>
</html>