html {
	overflow-x:hidden;
	text-shadow: 0px 0px 10px rgba(59, 41, 41, 0.25);
    filter: dropshadow(color=#3b2929, offx=0, offy=0);
}
img {
	}
body {
	background-color: black;	
	color: white;	
}
a {
	text-decoration: none;
}

.spacer {
	padding-top: 1000px;
}


/*Autoplay button*/
#autoplay-wrapper, #pause-wrapper {
	position: fixed;
	z-index: 3;
	margin-top: 180px;
	padding-left: 10px;	
	font-family: 'Lato';
	font-size:1em;
	display: inline-block;
	}
	#autoplay-wrapper:hover, #pause-wrapper:hover {
		cursor: pointer;
		opacity: .7;
	}
	#playbutton {
		display: inline-block;
		position: absolute;
		
	}
	.autotxt {
		display: inline-block;
		position: absolute;
		margin-left: 20px;
		margin-top: -3px;
	}
.bgdiv {
	z-index: -99;
	position: absolute;	
	}
	.bgdiv img {
		position: absolute;
	}
	#small, #medium, #large {
		display: none;
	}


/* Navigation Bar */
#navbar {
	padding-top: 200px;
	font-family: 'Lato';
	font-weight: 300;
	color: white;
	position: fixed;
	z-index: 2;
	font-size: .8em;

	}
	#navbar span {
		padding-left: 1em;
	}
	#navbar ul {
		list-style-type: none;
		padding-left: 0;		
		white-space: nowrap;
		line-height: 1em;
	}
	#navbar li:hover {
		cursor: pointer;
	}
	#navbar li {
		padding-top: 1em;
		padding-bottom: 1em;
		}
		#problemnav {
			background-color: #ed7877;
			width: 8em;			
		}
		#lifecyclenav {
			background-color: #70a9b3;
		}
		#calculatornav {
			background-color: #a9d346;
		}
		#breaknav {
			background-color: #9f8f5d;
		}
	.inactive {
		height: 1em;		
		width: .8em;
		-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
		-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
		box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);
		}
		.inactive span {
			display: none;
		}
	.active {
		padding-right: 1.5em;
		
		-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
		-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
		box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);
	}
	.active span {
		display: block;
	}
	.hover {
		padding-right: 2em; 
		-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 1);
		-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 1);
		box-shadow:         1px 1px 5px rgba(50, 50, 50, 1);
	}

/*Problem section*/


#problemArrow {
	margin-top: 200px;
	position: absolute;
	z-index: 1;
	margin-left: 94%;
	
}
#problem-wrapper {	
	margin-left: 15%;	
	}
	/*Problem section panels */

	#inadequate-access {	
		margin-top: 2px;	
		padding-top: 198px;
		font-family: 'Merriweather';
		font-size: 4em;	
		font-weight: 400;
		font-style: normal;
		margin-left: 15%;

		} 	
	#learnmore{
		position: absolute;
		width: 100%;
		text-align: center;
		font-family: 'Lato';
		font-size: 1em;
		display: none;
	}
	/*Stat Panels*/
	#drinking-water, #sanitation, #tackle, #tenpercent, #lifecycle {
		font-family: 'Lato';
		font-weight: 300;
		font-size: 4em;		
	
		}
		#drinking-water span, #sanitation span, 
		.tinytext, .lrgitalic {
			font-family: 'Merriweather';
			font-style: italic;
			font-weight: 700;
			font-size: 1em;
		}
	#drinking-water, #sanitation {
		margin-left: 15%;
	}	
	#tackle-wrapper {
		width: 100%;
		text-align:center;
		margin: 0 auto;
	}
	#tackle {	
		text-align: right;			
		font-weight: 100;
		display: inline-block;
		float: left;
		padding-right: 0.5em;
		margin-left: 15%;
		}
		.tinytext {
			font-size: .3em;
			font-weight: 300;
		}
	#dollars {
		padding-top: 100px;
		margin-left: 54%;		
		display: inline-block;
		float: left;
		}	
		#dollars img {
			padding-right: 1em;
			padding-bottom: .5em;
			width: 200px;
			
		}
	#tenpercent {		
		text-align: center;	
		white-space: nowrap;
		font-size: 3em;
		width: 100%;
		font-weight: 100;
		}
		#tentext{
			text-align: right;
			display: inline-block;			
		}	
		#tenpercent span, #example span {
			font-family: 'Merriweather';
			font-style: italic;
			font-size: .4em;
			font-weight: 700;		
		}
		#tenpercent img {			
			padding-bottom: 2.7em;	
			padding-left: 40px;
			display: inline-block;

		}

	#droplets {
		float: left;
		display: inline-block;
		margin-left: 15%;
		}
		#droplets img {
			position: absolute;
						
		}
		#dirtydroplet {
			opacity: 0;
		}

	#failure, #unsafe, #example, #example2 {
		margin-left: 30%;		
		font-family: 'Lato';
		font-weight: 100;
		font-size: 4em;
	}


	#unsafe {
		font-size: 3.2em;
		padding-bottom: 0;
	}
	#unsafe span {
		position: absolute;
		padding-top: 1em;
	}

	#example,#example2 {
		font-size: 3em;
	}



	/* Images*/
	#peopleRows, #peopleRows2 {
		padding-top: 300px;
		font-size: 1em;			
		opacity: .5;
		z-index: 1;
		white-space: normal;
		margin-left: 15%;
		

		}
		#peopleRows img, #peopleRows2 img {
			padding-bottom: 10px;	
			overflow: hidden;		
			
		}



/*Lifecycle section*/
#lifecycle {
	width: 100%;
	text-align: center;
	}

#approach {
	margin-right: 0 auto;
	display: block;
	width: 100%;
	line-height: .6em;
	z-index: 1;
	}
#circles {
	padding-top: 400px;
	width: 100%;
	position: relative;	

	}	
	#circle, #circle2, #circle3 {
		position: relative;	
		z-index: 0;	
		margin: 0 auto;
		width: 50px;
		height: 50px;
		border: solid 2px;
		border-color: white;
		-webkit-border-radius: 20em;
    	-moz-border-radius: 20em;
    	border-radius: 20em;
		}
		#circle {
			
		}
		#circle2 {
			width: 1px;
			height: 1px;
			background-color: white;
			margin-top: 22px;
			
		}

	#circtext {
		width: 100%;
		margin: 0 auto;
		left: 200px;		
		text-align: center;
		padding-top: 1%;
		font-size: .8em;
		color: white;
		opacity: 0;		
	}
	#line-container, #line2-container {
		padding-top: 1500px;
		width: 100%;
		position: absolute;
	}
	#line, #line2 {
		margin:0 auto;
		margin-top: 100px;
		border-right: solid white;
		height: 1px;
		width: .5px;
		right: 0;
		left: 0;
		-webkit-box-shadow: -10px 2px 30px rgba(50, 50, 50, 1);
		-moz-box-shadow:    -10px 2px 30px rgba(50, 50, 50, 1);
		box-shadow:         -10px 2px 30px rgba(50, 50, 50, 1);
	}
	#circle3-container {
		width: 100%;
		padding-top: 3200px;
		 
		}
		#circle3{
			
		}

	#delivery-container {
		padding-top: 3700px;
		width: 100%;	
			}
	#delivery {
		float: right;
		margin-right: 15%;
		font-family: 'Lato';
		font-weight: 100;
		font-size: 4em;
	}		
	#pie-text {	
		padding-top: 500px;
		width: 100%;
		text-align: center;
		}
		#pie-text div{
			font-family: 'Lato';
			color:white;
			font-size: 14px;
			
			}
			/*Pie text positioning*/
			#t1	{ 	margin-left: 250px;
					margin-bottom: -1px;	
					opacity: 0;
					}
			#t2	{ 	margin-right: 370px;
				 	margin-top:	-15px; 	
				 	opacity: 0;
				 	}
			#t3	{	margin-right: 520px;
					margin-top: 70px;	
					opacity: 0;
					}

			#t4 {	margin-top: 70px; 	
					opacity: 0;
					}
			#t4 #major { 
					padding-right: 300px; 	
					opacity:0;
					}			
			#t5 {	margin-top: 	75px;
					margin-right: 	250px;	
					opacity: 0;
				}
			#t6 { 	opacity: 0;		}		

	#pie img {
			position: absolute;
			}
			#pie1 {	margin-left:   -38.8px;
					margin-top:    -38.8px 		}
			#pie2 {	margin-left:   -95.5px;	
					margin-top:    -33.5px;		}
			#pie3 {	margin-left:   -123.9px;
					margin-top:		6.5px;		}
			#pie4 {	margin-left:   -123.9px;
					margin-top: 	85px;		}
			#pie5 {	margin-left:   -98.5px; 
					margin-top: 	86.78749px;	}
			#pie6 {	margin-left:   -1px;		
					margin-top:		.8px;		}


	#aspects {
		padding-top: 2000px;
		width: 100%;
		text-align: center;
		font-family: 'Lato';
		font-weight: 100;
		font-size: 4em;
		}
		#aspects div {
			line-height: 2em;
		}
	

	/* Calculator Section */
	#calculator-container {
		padding-top: 3700px;
		width: 100%;
	}
	#calculator, #users, #sustain, #money, #projects {
		margin-left: 50%;
		padding-left: 200px;
		font-family: 'Lato';
		font-weight: 100;
		font-size: 2.5em;
	}

	#calculator span, #tool {
		font-family: 'Merriweather';
		font-style: italic;
		font-weight: 700;
	}
	#bauble-container {
		padding-top: 2800px;
		width: 100%;
		text-align: center;

		}
		#bauble {
			
		}
		#logo {
			
		}
	#users-container, #tool-container, 
	#sustain-container, #money-container, 
	#projects-container {
		width: 100%;
		}
		#users {
		
		}
		#tool-container {
		padding-top: 2000px;
		}
		#tool{
			margin-left: 50%;
			padding-left: 200px;
		}
	 #sustain-container, #money-container, #projects-container {
	 	padding-top: 1500px;
		}
		#sustain {
			margin-left: 50%;
			padding-left: 200px;
		}
		#money {
			margin-left: 50%;
			padding-left: 200px;
		}
		#projects {
			margin-left: 50%;
			padding-left: 200px;
		}	

	#database-wrapper {
		padding-top: 2000px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		}
		#user-sprites {
			text-align: center;
			}
			.uwrap {			
				display: inline-block;
				padding-right: 1em;
				padding-left: 1em;
			}
			.check {
				width: 25px;
				padding-bottom: 10px;
				opacity: 0;
			}
			.greyuser {
				opacity: .5;
			}
			#theone {
				opacity: .3;
			}
		#compare-text, #update-text {
			margin: 0 auto;
			font-family: 'Lato';
			font-weight: 300;
			color: white;
			font-size: 4em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			}
			#update-text div {
				font-family: 'Merriweather';
				font-style: italic;
				font-weight: 400;
				font-size: .35em;
				padding-top: 0.5em;
			}
		#clock-wrapper {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
	#report-wrapper	{
		width: 100%;		
		text-align: center;
		padding-top:500px;
		}
		#sheet {			
			height: 522px;
			width: 300px;
			border: solid white;
			display: inline-block;
			font-family: 'Merriweather';
			font-size: 33px;
			font-weight: 400;
			font-style: normal;

			}
			.txt {
				padding-top: 15px;
				padding-left: 25px;
				text-align: left;			}
			#costs-box {
				height: 172px;
				border-bottom: solid white;
				background-color: #aace4c;				
				color: #92aa45;
				text-align: left;
				text-shadow: none;
				}
				#costs-box img {
					padding-top: 20px;
					width: 60px;
					display: inline;
					position: absolute;
					
				}
				#l1 {
					margin-left: 45px;
				}
				#l2 {
					padding-left: 100px;
				}
				#l3 {
					margin-top: 15px;
					padding-left: 155px;
				}
				#l4 {
					margin-top: 15px;
					padding-left: 215px;
				}


			#sustainability-box {
				height: 172px;
				border-bottom: solid white;
				background-color: #6da9b3;
				color: #20828c;
				text-shadow: none;
				}
				#bargraph{
					padding-top: 7px;
				}
				.bar {
					width: 16px;
					background-color: #edf7f8;
					display: inline-block;
					}
					#bar1 {	height: 40px; }
					#bar2 {	height: 28px; }
					#bar3 {	height: 60px; }
					#bar4 { height: 50px; }
					#bar5 {	height: 18px; }
			#risks-box {
				height: 173px;
				background-color: #f59d87;
				color: #f17649;
				text-shadow: none;
				}
				#risks-box img {
					padding-left: 10px;
					padding-right: 10px;
					width: 55px;
					padding-top: 30px;
				}

		#report-description-wrapper {
			display: inline-block;
			color: white;
			text-align: left;
			padding-left: 20px;
			margin-top: 0px;	
			}
			#gathers, #creport{
				font-family: 'Merriweather';
				font-weight: 700;
				font-style: italic;
				font-size: 1.5em;
			}
			#creport {
				font-size: 4em;
			}
			#allowing {
				font-family: 'Lato';
				font-size: 3em;
				font-weight: 100;
				padding-bottom: 40px;
			}



	#math-wrapper {
		width: 100%;
		padding-top: 1500px;
		color: white;
		z-index: 2;
		white-space: nowrap;		
		}
		#left-wrapper {
			margin-left: 15%;
			display: inline-block;
			white-space: nowrap;
			}
			#bigending {
				margin-left: -10px;
				font-family: 'Lato';
				font-weight: 100;
				font-size: 4.2em;
				padding-bottom: 0.2em;
			}
			#useit {
				font-family: 'Merriweather';
				text-decoration: none;
				font-style: normal;
				font-size: 1.25em;
				line-height: 2em;
			}
			#usebutton {
				width: 350px;
				background-color:#ff6633;
				color:white;
				font-family: 'Lato';
				font-weight: 300;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 13px;
				font-size: 1.25em;
				-webkit-border-radius: 5px;
	    		-moz-border-radius: 5px;
	    		border-radius: 5px;
	    		margin-bottom: 100px;
				}
				#usebutton:hover {
					cursor: pointer;
					background-color: #f87549;
				}

		#right-wrapper {
			float: right;
			margin-right: 50px;
			white-space: nowrap;				
			}
			#contactbuttons{
				padding-top: 130px;
				}	
				#contactbuttons div{
					border: 1px solid white;
					-webkit-border-radius: 20em;
	    			-moz-border-radius: 20em;
	    			border-radius: 20em;
	    			height: 5em;
	    			width: 5em;
	    			text-align: center;
					}

					#contactbuttons div:hover {
						background-color: #80DBD2;
						cursor: pointer;
						z-index: 0;	
					}
					#tweet{						
						padding-top: 1.5em;
						z-index: 1;

					}
					#eff {
						
						padding-top: 1.1em;
					}
					#plex {
						width: 2.2em;
						padding-top: 1.6em;
					}
			#signup-wrapper {
				width: 100%;
				background-color: #313030;
				height: 80px;
				}
				#signup {
					
					padding-top: 15px;
					padding-bottom: 8px;
					margin-left: 15%;
					font-family: 'Lato';
					font-weight: 300;
					display: inline-block;
				}
				#interested {
					margin-top: 0px;
					display: inline-block;
					padding-right: 30px;
					margin-bottom: 0px;
					padding-bottom: 0px;
					}
					#interested span {
						color:#9e9e9e;
					}
					#interested img {

					}
				#inputs  {
					margin-top: 25px;
					display: inline-block;
					float: left;
					margin-left: 10%;
					position: absolute;
					
				}					
				#name, #email {
					color: #313030;
					font-family: 'Lato';					
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 10px;
					padding-right: 20px;	
					border: none;
					display: inline;
					margin-right: 10px;
					background-color: #faf1f3;
					-webkit-border-radius: 2px;
	    			-moz-border-radius: 2px;
	    			border-radius: 2px;
	    		}
				input:-ms-input-placeholder , textarea::-ms-input-placeholder  {
  					color: #313030
				}
				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  					color: #313030;
				}
				input:-moz-placeholder, textarea:-moz-placeholder {
  					color: #313030;
				}
				 #learnbutton {
				 	font-family: 'Lato';
				 	background-color: #f06738;
					display: inline;
					padding-left: 1em;
					padding-right: 1em;
					padding-top: 5px;
					padding-bottom: 6px;
					-webkit-border-radius: 2px;
	    			-moz-border-radius: 2px;
	    			border-radius: 2px;
					}
					#learnbutton:hover {
						cursor: pointer;
						background-color: #ed9171;
					}


#filler	{
	padding-top: 4em;
	opacity: 0;
}