<div class='caption'>{{question.numeric_reference}}. {{question.caption}}</div>
<div class='select-container'>
    {{view Ember.Select viewName="select"
    contentBinding=question.properties.options
    prompt="select an option"
    classNames='chzn-select'
    }}
</div>

