<div class='caption'>{{question.numeric_reference}}. {{question.caption}}</div>
{{view Ember.Select viewName="select"
                    contentBinding=question.properties.options
                    prompt="select an option"}}
