/*-------------------------------------------
PROJECT: WashCost - Application.css
URL: 
Created: July 22nd, 2013
Author: Brilliant Basics
--------------------------------------------*/

/* reset */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #333333;
    -webkit-font-smoothing: antialiased;
}
footer {
    margin: 0;
    padding: 0;
}
form{
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
    padding: 0;
}
a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0;
    padding: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
/* layout */
#outer_container {
    position: relative;
    overflow: hidden;
    height: 95%;
    max-width: 1025px;
    margin: 0 auto;
    background-color: #fff; 
}

#outer_container_report {
    position: relative;
    max-width: 1025px;
    margin: 0 auto;
    background-color: #fff;
}

.bgGradient {
    background: #017faf; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxN2ZhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzAyOTJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iIzAzYWNiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNGFlYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #017faf 0%, #0292b2 30%, #03acb2 63%, #04aeb3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017faf), color-stop(30%,#0292b2), color-stop(63%,#03acb2), color-stop(100%,#04aeb3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #017faf 0%,#0292b2 30%,#03acb2 63%,#04aeb3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #017faf 0%,#0292b2 30%,#03acb2 63%,#04aeb3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #017faf 0%,#0292b2 30%,#03acb2 63%,#04aeb3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #017faf 0%,#0292b2 30%,#03acb2 63%,#04aeb3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017faf', endColorstr='#04aeb3',GradientType=0 ); /* IE6-8 */
}
.header {
    overflow: hidden;
    background-color: #333;
    padding: 14px 35px;
}
.header ul {
    float: right;
    margin-top: 10px;
}
.header li {
    float: left;
    margin-left: 13px;
}
.header li a {
    color: #fff;
}
.header li a.sign {
    color: #ff6633;
}
.header .languageSwitcher {
    margin: 0;
    padding: 0;
}
.header .logo {
    float: left;
}
.languageSwitcher li {
    clear: both;
    margin: 0;
}
.languageSwitcher li a {
    display: none;
}
.languageSwitcher li a.active {
    display: block;
    padding-right: 23px;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 100% -295px;
}
nav {
    position: relative;
}
.navWrapper {
    position: relative;
    width: 935px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto;
}
.main {
    position: absolute;
    width: 1000000px;
    margin: 30px 0 0 0;
}
.main li {
    position: relative;
    width: auto;
    float: left;
}
.main li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #9acfdf;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.main li a.active {
    color: #fff;
}
.main li.content a {
    display: block;
    float: right;
}
.main li.cost a {
    display: block;
    margin-left: 55px;
}
.main li.service a {
    display: block;
    margin-left: -195px;
}
.main li ul {
    clear: both;
    overflow: hidden;
    background: #359ec0 url('/assets/spriteArrow8.png') no-repeat 102% -490px;
}
.main li li {
    width: auto;
    float: left;
}
.main li li a.done {
    display: block;
    color: #fff;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 100% -384px;
}
.navWrapper .main li li a {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 14px 30px;

}
.main li li a.active {
    color: #359ec0;
    background-color: #fff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pag a {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 30px;
    margin-top: 25px;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 0 -101px;
    text-indent: -10000px;
}
.pag .pagPrev {
    left: 18px;
}
.pag .pagNext {
    right: 0;
    background-position: 0 0;
}
footer {
    clear: both;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #333;
}
footer .footerWrapper {
    position: relative;
    width: 945px;
    margin: 0 auto;
    padding: 20px 40px 40px;
    background-color: #333;
}
footer h2 {
    float: left;
    font-size: 11px;
    color: #bfbfbf;
    margin-right: 20px;
    margin-top: 2px;
    text-transform: uppercase;
    background: transparent url('/assets/arrowUp8.png') no-repeat 0 2px;
}
.progressBar {
    position: relative;
    float: left;
    padding-top: 2px;
}
.outerBar {
    width: 500px;
}
.innerBar {
    float: left;
    height: 2px;
    margin-top: 5px;
    background-color: #ff6633;
}
.outerBar p {
    float: left;
    color: #BFBFBF;
    margin: -1px 0 0 20px;
}
.mainContent {
    position: relative;
    display: table;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    border-collapse: collapse;
}
.main_content {
    position: relative;
    display: table-cell;
    min-height: 100%;
    width: 100%;
    vertical-align: middle;
}
.next_button {
    clear: both;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 54px;
    border: 0px;
    color: #d6d6d6;
    padding: 20px 94px;
    margin: 20px auto 10px;
    background-color: #363636;
    text-transform: uppercase;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.skip {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.mainContent h1 {
    z-index: 100;
    display: inline-block;
    position: absolute;
    width: 713px;
    top: 8%;
    left: 15%;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 auto;
    color: #fff;
}
.chzn-container-single .chzn-single span,
.chzn-container-single .chzn-default,
.sbSelector {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #217F8B;
    text-decoration: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chzn-container-single .chzn-search {
    background-color: #000;
    border-left: 0;
    border-right: 0;
}
.chzn-search input {
    border-sizing: none;
}
.chzn-results {
    border: none;
    width: 99%;
}
.chzn-container.chzn-with-drop .chzn-drop {
    width: 100%;
}
.chzn-container-single .chzn-single span {
    background: none;
}
a.sbSelector:hover {
    text-decoration: none;
}
.chzn-container-single .chzn-single div b {
    margin: 10px 0 20px 0;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 85% -184px;
}
.chzn-results,
.sbOptions {
    overflow-y: scroll;
    background-color: #333333;
    padding: 20px 5px;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.chzn-results li,
.sbOptions li {
    clear: both;
    float: left;
    width: 100%;
}
.chzn-container .chzn-results .highlighted,
.sbOptions li:hover {
    width: 95%;
    background-color: #5C5C5C;
}
.chzn-results li,
.sbOptions a {
    display: block;
    color: #fff;
    text-align: left;
    padding: 15px 20px;
}
.chzn-container-active .chzn-single {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 25px;
    color: #217F8B;
    text-decoration: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chzn-container .chzn-results li.active-result {
    padding: 15px 20px;
    width: 90%;
}
.chzn-container .chzn-results li.active-result {
    padding: 15px 20px;   
}

/* q1Country */

.choices {
    width: 520px;
    margin: 0 auto;
}
.choices img {
    float: left;
    margin-right: 25px;
}
.choices .sbHolder,
.choices #country {
    width: 365px;
    float: left;
}

/* info tab */
.infoTab {
    clear: both;
    position: absolute;
    width: auto;
    top: 235px;
    right: -214px;
}
.tab {
    display: block;
    float: left;
    width: 32px;
    height: 47px;
    text-indent: -1000000px;
    background: transparent url('/assets/iconInfoTab8.png') no-repeat 0 0;
}
.tabContent {
    float: left;
    text-align: left;
    width: 190px;
    padding: 5px 10px 10px;
    border-left: 2px solid #ff6633;
    background: transparent url('/assets/bgInfoTab8.png') repeat 0 0;

    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.tabContent h3 {
    color: #d5d7cf;
}
.tabContent p {
    color: #d5d7cf;
}

/* CONTENT */

    .waterInput li label {
        background: transparent url('/assets/spriteQ2basicWater24.png') no-repeat 0 0;
    }
    .waterInput li:nth-child(2) label {
        background-position: -62px 0;
    }
    .waterInput li:nth-child(3) label {
        background-position: -127px 0;
    }
    .waterInput li:nth-child(4) label {
        background-position: -193px 0;
    }
    .waterInput li:nth-child(5) label {
        background-position: -255px 0;
    }
    .main_content .qualityInput {
        width: 292px;
    }
    .qualityInput li {
        width: 70px;
        height: 71px;
    }
    .main_content .reliabilityInput {
        width: 252px;
    }
    .qualityInput li label {
        background: transparent url('/assets/inputQualityWater8.png') no-repeat 0 0;
    }
    .reliabilityInput li label {
        background: transparent url('/assets/spriteRatioReliability8.png')no-repeat 0 0;
    }
    .reliabilityInput li:nth-child(2) label {
        background-position: -62px 0;
    }
    .reliabilityInput li:nth-child(3) label {
        background-position: -127px 0;
    }
    .reliabilityInput li:nth-child(4) label {
        background-position: -193px 0;
    }
    .main_content .latrineInput {
        width: 612px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .main_content .latrineInput li {
        width: 99px;
    }
    .latrineInput li label {
        background: transparent url('/assets/inputTraditionalLatrine8.png') no-repeat 0 0;
    }
    .latrineInput li label span {
        top: 47px;
    }
    .main_content .houseInput {
        width: 206px;
    }
    .main_content .houseInput li {
        width: 100px;
    }
    .houseInput li label {
        background: transparent url('/assets/spriteInputLatrines8.png') no-repeat 0 0;
    }
    .houseInput li:last-child label {
        background-position: 0 -80px;
    }
    .main_content .houseInput label span {
        top: 50px;
        width: 100%;
    }
    .main_content .impermeability {
        width: 126px;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .impermeability li label {
        background: transparent url('/assets/spriteInputSlab8.png') no-repeat 0 0;
    }
    .impermeability li label span {
        top: 80px;
    }
    .impermeability li:last-child label {
        background-position: 0 -74px;
    }
    .main_content .disposalInput {
        width: 370px;
    }
    .main_content .disposalInput li {
        width: 120px;
    }
    .main_content .disposalInput label {
        min-height: 135px;
    }
    .main_content .disposalInput label span {
        top: 80px;
    }
    .disposalInput li label {
        background: transparent url('/assets/spriteInputDisposal8.png') no-repeat 0 0;
    }
    .disposalInput li:nth-child(2) label {
        background-position: -132px 0;
    }
    .disposalInput li:nth-child(3) label {
        background-position: -283px 0;
    }
    .main_content .familyInput {
        width: 381px;
    }
    .main_content .familyInput li {
       width: 124px;
    }
    .familyInput li label {
        background: transparent url('/assets/spriteInputFamilyMembers8.png') no-repeat 0 0;
    }
    .familyInput li:nth-child(2) label {
        background-position: -142px 0;
    }
    .familyInput li:nth-child(3) label {
        background-position: -290px 0;
    }
    .main_content .familyInput label span {
        top: 75px;
    }
    .main_content .reliableInput {
        width: 441px;
    }
    .reliableInput li {
        width: 144px;
    }
    .reliableInput li label {
        background: transparent url('/assets/inputLactrine8.png') no-repeat 0 0;
    }
    .reliableInput li label span {
        top: 75px;
    }
    .ticked {
        -moz-opacity: 0.70;
        opacity: 0.70;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    }
    .main_content .valueOutput {
        width: auto;
        margin: 0 auto;
        height: 20px;
    }
    .main_content .valueLabel {
        height: 80px;
        color: #333;
    }
    .ui-slider {
        width: 525px;
    }
    /*
    *
    *   IE - Fixes
    *
    */
    .ie8 .mainContent h1,
    .ie7 .mainContent h1 {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
    .ie8 .mainContent .main_content, 
    .ie7 .mainContent .main_content {
        display: block;
    }
