.calculator_selection {
  margin:30px 0;
  text-align:center;
}

.calculator_selection--title {
  margin-bottom:20px;
  font-size:27px;
  font-weight:normal;
  color:#fff;
}

.calculator_selection--subtitle {
  font-size:14px;
  font-weight:bold;
  color:$faded_grey;
  line-height:1.2;
}

.calculator_selection--selector {
  margin:30px 0;
}

.calculator_selection--selector--container {
  @include clearfix;
}

.calculator_selection--selector--container + .calculator_selection--selector--container {
  margin-top:30px;
}

.calculator_selection--selector--item {
  position:relative;
  display:inline-block;
  width:200px;
  cursor:pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.calculator_selection--selector--item + .calculator_selection--selector--item {
  margin-left:30px;
}

.calculator_selection--selector--radio {
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
}

.calculator_selection--selector--checked_icon {
  position:absolute;
  top:10px;
  right:10px;
  width:22px;
  height:22px;
  background:$medium_brown image-url('icon-tick.png') no-repeat 50% 50%;
  opacity:0;

  @include border-radius(100px);
  @include transition(opacity 0.75s);
}

.calculator_selection--selector--radio:checked + .calculator_selection--selector--checked_icon {
  opacity:1;
}

.calculator_selection--selector--icon {
  background-color:rgba(0,0,0,0.05);

  @include border-radius(5px);
  @include transition(background-color 0.3s);
}

.calculator_selection--selector--label:hover .calculator_selection--selector--icon {
  background-color:rgba(255,255,255,0.1);
}

.calculator_selection--selector--radio:checked ~ .calculator_selection--selector--icon {
  background-color:rgba(255,255,255,0.25);
}

.calculator_selection--selector--text {
  display:block;
  padding:12px 0;
  font-size:14px;
  font-weight:bold;
  color:rgba(0,0,0,0.25);
}

.calculator_selection--buttons {
  margin-top:30px;
}

@media screen and ( max-width: $mobile_breakpoint ) {

  .calculator_selection--selector--item {
    display:block;
    width:auto;
    margin:0 auto;
  }

  .calculator_selection--selector--item + .calculator_selection--selector--item {
    margin-top:15px;
    margin-left:auto;
  }

}
