@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

.standalone_form {
  width:$form_width;
  margin:30px auto;
  padding:30px;
  color:#fff;
  background-color:$dark_grey;
}

.standalone_form--heading {
  margin-bottom:20px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
}

.standalone_form--field {
  @include pie-clearfix;
}

.standalone_form--field + .standalone_form--field {
  margin-top:7px;
}

.standalone_form--field + .standalone_form--field-box {
  margin-top:15px;
}

.standalone_form--field + .standalone_form--field-dropdown {
  margin-top:10px;
}

.standalone_form--field--input-text {
  width:100%;
  padding:10px 15px;
  border:none;
  font-size:14px;
  color:#fff;
  background-color:rgba(255,255,255,0.1);

  @include border-radius(3px);
  @include box-sizing(border-box);
  @include placeholder {
    color:rgba(255,255,255,0.25);

    @include transition(color 0.1s);
  }
}

.standalone_form--field--input-text:focus {
  @include placeholder {
    color:rgba(255,255,255,0);
  }
}

.standalone_form--field--input-box {
  float:left;
  width:20px;
  height:20px;
}

.standalone_form--label-for_box {
  float:left;
  padding-top:3px;
}

.standalone_form--footer {
  margin-top:15px;

  @include clearfix;
}

.standalone_form--buttons {
  float:left;
}

.standalone_form--links {
  float:right;
  text-align:right;
}

.standalone_form--link {
  display:block;
  font-size:12px;
  color:#fff;
  text-decoration:none;
}

.standalone_form--link + .standalone_form--link {
  margin-top:5px;
}

.standalone_form--link:hover {
  text-decoration:underline;
}

.standalone_form--message {
  font-size:12px;
}

.standalone_form--message + :not(.standalone_form--message) {
  margin-top:20px;
}

.standalone_form--promo {
  margin-top:20px;
  font-size:14px;
  line-height:1.4;
}

.standalone_form--promo--link {
  color:#fff;
}

.standalone_form--hidden_content {
  display:none;
}

.standalone_form--hidden_content-visible {
  display:block;
}

.standalone_form--interstitial_link {
  display:block;
  margin:20px 0 10px;
}

.dual_column_form {
  width:90%;
  margin:0 auto;
}

.dual_column_form--row {
  margin:0 -15px;

  @include pie-clearfix;
}

.dual_column_form--row + .dual_column_form--row {
  margin-top:30px;
}

.dual_column_form--column {
  float:left;
  padding:0 15px;

  @include box-sizing(border-box);
}

.dual_column_form--column-50 {
  width:50%;
}

.dual_column_form--column-33 {
  width:33.333%;
}

.dual_column--field--label {
  display:block;
  margin-bottom:8px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  line-height:1.2;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  -webkit-font-smoothing:antialiased;
}

.dual_column_form--field + .dual_column_form--field {
  margin-top:10px;
}

.dual_column_form--field-box {
  @include pie-clearfix;
}

.dual_column_form--field--text_input {
  width:100%;
  margin:0;
  padding:15px 15px 12px;
  border:none;
  font-family:inherit;
  font-size:16px;
  font-weight:bold;
  color:$dark_grey;
  background-color:#ddd8bc;
  -webkit-font-smoothing:antialiased;

  @include border-radius(5px);
  @include box-sizing(border-box);
  @include transition(background-color 0.2s);
  @include placeholder {
    color:rgba(51,51,51,0.25);
  }
}

.dual_column_form--field--text_input:focus {
  background-color:#fff;

  @include placeholder {
    color:rgba(255,255,255,0);
  }
}

.dual_column_form--field--dropdown {
  width:100%;
}

.dual_column_form--field-dropdown .chosen-container .chosen-single span,
.dual_column_form--field-dropdown .chosen-container-active.chosen-with-drop .chosen-single span {
  text-align:left;
}

.dual_column_form--field--checkbox {
  display:none;
}

.dual_column_form--field--styled_checkbox {
  float:left;
  width:24px;
  height:24px;
  background-color:rgba(255,255,255,0.25);
  cursor:pointer;

  @include border-radius(3px);
}

.dual_column_form--field--checkbox:checked + .dual_column--field--label-box .dual_column_form--field--styled_checkbox {
  background-image:image-url('icon-tick.png');
  background-position:50% 1px;
}

.dual_column--field--label-box {
  float:left;
  margin:0;
}

.dual_column--field--label-box--content {
  float:left;
  margin-left:10px;
  padding-top:5px;
}

.dual_column--field--label + .dual_column_form--field.dual_column_form--field-box {
  margin-top:15px;
}
