[class^="icon--tool-"],
[class*=" icon--tool-"] {
  display:block;
}

[class^="icon--tool-"]::before,
[class*=" icon--tool-"]::before {
  content:"";
  display:inline-block;
  width:140px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
  background-position:50% 100%;
  background-size:180px 7200px;
}

.icon--tool-globe::before {
  background-position:50% -15px;
}

.icon--tool-borehole_handpump::before {
  background-position:50% -175px;
}

.icon--tool-mechanised_borehole::before {
  background-position:50% -335px;
}

.icon--tool-single_town_scheme::before {
  background-position:50% -495px;
}

.icon--tool-multi_town_scheme::before {
  background-position:50% -655px;
}

.icon--tool-mixed_pipe_supply::before {
  background-position:50% -815px;
}

.icon--tool-less_than_five_litres::before {
  background-position:50% -1295px;
}

.icon--tool-between_five_and_nineteen_litres::before {
  background-position:50% -1455px;
}

.icon--tool-between_twenty_and_sixty_litres::before {
  background-position:50% -1615px;
}

.icon--tool-more_than_sixy_litres::before {
  background-position:50% -1775px;
}

.icon--tool-regular_and_meets_standards::before {
  background-position:50% -1935px;
}

.icon--tool-occasional_and_meets_standards::before {
  background-position:50% -2095px;
}

.icon--tool-one_off_after_construction::before {
  background-position:50% -2255px;
}

.icon--tool-no_testing::before {
  background-position:50% -2415px;
}

.icon--tool-works_all_the_time::before,
.icon--tool-latrine_reliable::before, {
  background-position:50% -2575px;
}

.icon--tool-not_working_less_than_twelve_days_a_year::before,
.icon--tool-latrine_inconsistent::before {
  background-position:50% -2735px;
}

.icon--tool-not_working_more_than_twelve_days_a_year::before {
  background-position:50% -2895px;
}

.icon--tool-not_working_all_of_the_time::before,
.icon--tool-latrine_unreliable::before {
  background-position:50% -3055px;
}

.icon--tool-water_calculator::before {
  height:180px;
  background-position:50% -3345px;
}

.icon--tool-sanitation_calculator::before {
  height:180px;
  background-position:50% -3505px;
}

.icon--tool-population::before {
  background-position:50% -3215px;
}

.icon--tool-traditional_pit_latrine::before {
  background-position:50% -3695px;
}

.icon--tool-slab_latrine::before {
  background-position:50% -4015px;
}

.icon--tool-vip_latrine::before {
  background-position:50% -4175px;
}

.icon--tool-pour_flush_latrine::before {
  background-position:50% -4335px;
}

.icon--tool-twin_pit_pour_flush_latrine::before {
  background-position:50% -3855px;
}

.icon--tool-latrine_with_septic_tank::before {
  background-position:50% -4495px;
}

.icon--tool-household_latrine_available::before {
  background-position:50% -4655px;
}

.icon--tool-household_latrine_unavailable::before {
  background-position:50% -4815px;
}

.icon--tool-impermeable_slab::before {
  background-position:50% -4975px;
}

.icon--tool-no_impermeable_slab::before {
  background-position:50% -5135px;
}

.icon--tool-non_problematic_safe_disposal_reuse_biproducts::before {
  background-position:50% -5295px;
}

.icon--tool-non_problematic_safe_disposal::before {
  background-position:50% -5455px;
}

.icon--tool-significant_pollution::before {
  background-position:50% -5615px;
}

.icon--tool-latrine_usage_all::before {
  background-position:50% -5775px;
}

.icon--tool-latrine_usage_some::before {
  background-position:50% -5935px;
}

.icon--tool-latrine_usage_none::before {
  background-position:50% -6095px;
}



[class^="icon--star-"],
[class*=" icon--star-"] {
  display:block;
}

[class^="icon--star-"]::before,
[class*=" icon--star-"]::before {
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:image-url('sprite-star_icons.png');
  background-repeat:no-repeat;
}

.icon--star-full::before {
  background-position:50% 0;
}

.icon--star-empty::before {
  background-position:50% -30px;
}


[class^="icon--status-"],
[class*=" icon--status-"] {
  display:block;
  width:21px;
  height:21px;
  border:3px solid #fff;

  @include border-radius(100px);
}

[class^="icon--status-"]::before,
[class*=" icon--status-"]::before {
  content:"";
  display:inline-block;
  width:21px;
  height:21px;
  background-image:image-url('sprite-status_icons.png');
  background-repeat:no-repeat;
}

.icon--status-good {
  background-color:$brand_green;
}

.icon--status-bad {
  background-color:$warning_red;
}

.icon--status-good::before {
  background-position:-5px -5px;
}

.icon--status-bad::before {
  background-position:-4px -35px;
}


@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {

  [class^="icon--tool-"]::before,
  [class*=" icon--tool-"]::before {
    background-image:image-url('sprite-question_icons@2x.png');
  }

}