[class^="icon--tool-"],
[class*=" icon--tool-"] {
	display:block;
}

[class^="icon--tool-"]::before,
[class*=" icon--tool-"]::before {
	content:"";
  display:inline-block;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
}

.icon--tool-globe::before,
.icon--tool-country::before {
	background-position:50% -15px;
}

.icon--tool-boreHold::before{
	background-position:50% -175px;
}

.icon--tool-water::before,
.icon--tool-mechanised::before{
	background-position:50% -335px;
}

.icon--tool-singleTown::before{
	background-position:50% -495px;
}

.icon--tool-multiTown::before{
	background-position:50% -655px;
}

.icon--tool-mixedPipe::before{
	background-position:50% -815px;
}

.icon--tool-waterLessThan::before{
	background-position:50% -1295px;
}

.icon--tool-waterFromFive::before{
	background-position:50% -1455px;
}

.icon--tool-quantity::before,
.icon--tool-waterFromTwenty::before{
	background-position:50% -1615px;
}

.icon--tool-waterMoreThan::before{
	background-position:50% -1775px;
}

.icon--tool-noTest::before{
	background-position:50% -1935px;
}

.icon--tool-quality::before,
.icon--tool-test::before{
	background-position:50% -2095px;
}

.icon--tool-occasional::before{
	background-position:50% -2255px;
}

.icon--tool-regular::before{
	background-position:50% -2415px;
}

.icon--tool-worksAll::before{
	background-position:50% -2575px;
}

.icon--tool-worksMostly::before{
	background-position:50% -2735px;
}

.icon--tool-reliability::before,
.icon--tool-breakDown::before{
	background-position:50% -2895px;
}

.icon--tool-notWorking::before{
	background-position:50% -3055px;
}

.icon--tool-population::before{
	background-position:50% -3215px;
}


[class^="icon--star-"],
[class*=" icon--star-"] {
	display:block;
}

[class^="icon--star-"]::before,
[class*=" icon--star-"]::before {
	content:"";
  display:inline-block;
  width:30px;
  height:30px;
  background-image:image-url('sprite-star_icons.png');
  background-repeat:no-repeat;
}

.icon--star-full::before {
	background-position:50% 0;
}

.icon--star-empty::before {
	background-position:50% -30px;
}


[class^="icon--status-"],
[class*=" icon--status-"] {
	display:block;
	width:21px;
	height:21px;
	border:3px solid #fff;

	@include border-radius(100px);
}

[class^="icon--status-"]::before,
[class*=" icon--status-"]::before {
	content:"";
  display:inline-block;
  width:21px;
  height:21px;
  background-image:image-url('sprite-status_icons.png');
  background-repeat:no-repeat;
}

.icon--status-good {
	background-color:$brand_green;
}

.icon--status-bad {
	background-color:$warning_red;
}

.icon--status-good::before {
	background-position:-4px -5px;
}

.icon--status-bad::before {
	background-position:-4px -35px;
}

