[class^="icon--tool-"],
[class*=" icon--tool-"] {
	display:block;
}

[class^="icon--tool-"],
[class*=" icon--tool-"]::before {
	content:"";
  display:inline-block;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
}

.icon--tool-boreHold::before{
	background-position:50% -175px;
}

.icon--tool-mechanised::before{
	background-position:50% -335px;
}

.icon--tool-singleTown::before{
	background-position:50% -495px;
}

.icon--tool-multiTown::before{
	background-position:50% -655px;
}

.icon--tool-mixedPipe::before{
	background-position:50% -815px;
}

.icon--tool-waterLessThan::before{
	background-position:50% -1295px;
}

.icon--tool-waterFromFive::before{
	background-position:50% -1455px;
}

.icon--tool-waterFromTwenty::before{
	background-position:50% -1615px;
}

.icon--tool-waterMoreThan::before{
	background-position:50% -1775px;
}