.header {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:900;
  height:$masthead_height;
  overflow:hidden;
  background-color:$dark_grey;
  -webkit-font-smoothing:antialiased;
}

.header--content {
  @include clearfix;
  padding:10px 0;
}

.header--logo {
  float:left;
}

.header--logo--image {
  display:block;
}

.header--links {
  float:right;
  margin:-10px 0;
}

.header--links--item {
  float:left;
}

.header--links--link {
  display:block;
  height:$masthead_height;
  padding:24px 24px 23px;
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;

  @include box-sizing(border-box);
  @include transition(background-color 0.3s);
}

.header--links--link:hover {
  background-color:$dark_grey_hover;
}

.header--links--link-special {
  color:$brand_orange;
}

.header--links--item--dropdown {
  display:none;
}

.header--primary_button {
  float:right;
}

@media screen and ( max-device-width: $mobile_breakpoint ) {

  .header--primary_button {
    position:absolute !important;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height:1px !important;
    width:1px !important;
    overflow:hidden;
  }

  .header--content {
    padding-left:10px;
    padding-right:10px;
  }

}
