.report {
    padding-top: 5px;
    color : #ffffff;
}

.report .resultTotal {
    overflow: hidden;
    width: 719px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.report hr{
    border: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
}

/*section{
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
*/

dl div{
    float: left;
    text-align: center;
    margin-right: 175px;
}


dd {
    width: 127px;
    padding-top: 10px;
    text-align: center;
    margin: 0px;

    background: url(/assets/report/report_icon.png) center 25px no-repeat;
}

.report h1{
    margin-bottom: 45px;
}

.report h2{
    margin-bottom: 52px;
}

section.general dd {
    width: 160px;
    padding-top: 85px;
    text-align: center;
    margin: 0px;
    height: 100px;
}

.stars_1{
    background: url(/assets/report/stars_1.png) center 25px no-repeat;
}
.stars_3{
    background: url(/assets/report/stars_3.png) center 25px no-repeat;
}
section.content {
    text-align: center;
    height: 395px;
    width: 750px;
    margin: 0px auto 0px auto;
}

section.cost {
    text-align: center;
    height: 525px;
}

section.cost h2{
    margin-bottom: 30px;
}

section.cost #graph{
    text-align: center
}

section.cost #graph .explain{
    font-weight: bold;
}

section.cost dd{
    background: none;

    margin-top: 10px;
    margin-right: 5px;

    width: 157px;
    height: 57px;
    background-color:#3BB4C4;
    padding: 0px;
    font-size: 30px;
    line-height: 57px;
    font-weight: bold;

    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    border-radius        : 5px;
}

section.cost dl{
    margin-top: 62px;
    width: 780px;
    margin: 60px auto 0px auto;
}

section.cost dl img{
    float: left;
    margin-top: 48px;
    margin-right: 105px;
}

section.cost dl div{
    margin: 0px;

}
section.cost dd.total{
    font-size: 66px;
    background-color: transparent;
    margin: 10px 0 0 0;
    padding: 0px;
    width: 157px;
    font-weight: bold;
    -webkit-border-radius: 0px;
    -moz-border-radius   : 0px;
    border-radius        : 0px;
}
.no_margin{
    margin: 0px;
}
section.content dd {
    padding-top: 165px;
    padding-bottom: 0px;
}
.service ul{
    width: 730px;
    margin: 0px auto 0px auto;
    font-weight: bold;
}
.service li{
    float: left;
    width: 180px;
}

.service li.distance{

    background: url('/assets/report/bg_distance.png') 35px 0px no-repeat;
    width: 730px;
    height: 200px;

}

.service li .distance_value{
    font-size: 40px;
}

.service li.row2{
    margin-left: 50px;
}

.service li div.value {

    background: url('/assets/report/icon_service.png') center 0px no-repeat;
    padding-top: 150px;
}