// MIXINS

@mixin report-box($padding) {
  position:relative;
  padding:$padding $padding $padding - 2 $padding;
  background-color:rgba(175,175,175,0.1);

  @include box-shadow(0 2px 0 rgba(3,3,3,0.2));
  @include border-radius(7px);
}

@mixin report-edit-button {
  position:absolute;
  width:32px;
  height:32px;
  overflow:hidden;
  text-indent:-1000px;
  background:rgba(166,149,95,0.2) image-url('icon-edit.png') no-repeat 50% 50%;

  @include border-radius(5px);
  @include transition(background-color 0.3s);


  &:hover {
    background-color:rgba(166,149,95,0.5);
  }
}


// STYLESHEET

.report {

}

.report--header {
  position:relative;
  padding:30px;
  border-bottom:#fff solid 5px;
  text-align:center;
  background-color:$brand_green;
}

.report--header--pretitle {
  margin-bottom:30px;
  font-size:14px;
  color:#fff;
  text-transform:uppercase;
}

.report--header--title {
  margin-bottom:50px;
  font-size:24px;
  font-weight:bold;
  text-transform:uppercase;
}

.report--header--quicklink {
  position:absolute;
  top:30px;
  right:30px;
  font-size:12px;
  color:#fff;
  text-transform:uppercase;
}

.report--summary {
  margin-bottom:10px;
  text-align:center;

  @include clearfix;
}

.report--summary--item {
  display:inline-block;
  width:25%;
  vertical-align:top;
}

.report--summary--item-floated {
  float:left;
}

.report--summary--item--title {
  margin-bottom:10px;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
}

.report--summary--item--subtitle {
  margin-top:-10px;
  font-size:14px;
  color:#fff;
  -webkit-font-smoothing:antialiased;
}

.report--summary--item--mini_title {
  margin-top:20px;
  margin-bottom:5px;
  font-size:12px;
  color:#fff;
  text-transform:uppercase;
  -webkit-font-smoothing:antialiased;
}

.report--summary--item--mini_title--subtitle {
  display:block;
}

.report--summary--item--value {
  height:30px;
  margin-bottom:14px;
  font-size:30px;
  color:#fff;
}

.report--summary--item--rating {
  height:30px;
  margin-bottom:14px;

  @include clearfix;
}

.report--summary--item--caption {
  font-size:12px;
}

.report--rating_icon {
  display:inline-block;
  width:30px;
  height:30px;
}

.report--summary--description {
  width:50%;
  margin:0 auto;
}

.report--summary--description--icon {
  margin:0 auto 10px;
}

.report--summary--description--caption {
  margin-bottom:30px;
  padding-bottom:20px;
  border-bottom:1px solid #fff;
  font-size:14px;
  font-weight:bold;
}

.report--review {
  width:50%;
  margin:0 auto;
}

.report--review--link {
  font-size:13px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  -webkit-font-smoothing:antialiased;
}

.report--review--link:hover {
  text-decoration:underline;
}

.report--review--content {
  height:0;
  overflow:hidden;
}

.report--review--content-visible {
  height:auto;
}

.report--review--content--text {
  padding-top:30px;
  font-size:12px;
  color:#fff;
  text-align:justify;
  line-height:1.5;
}

.report--section {
  padding:30px;
  color:#333;
  text-align:center;
  background-color:rgb(173,203,84);

  @include background-image(linear-gradient(to right,  rgb(221, 214, 153) 0%, rgb(235, 232, 202) 50%, rgb(221, 214, 153) 100%));
}

.report--section + .report--section {
  border-top:#fff solid 5px;
}

.report--section--title {
  margin-bottom:20px;
  font-size:18px;
  font-weight:bold;
  color:$faded_brown;
  text-transform:uppercase;
}

.report--section--subtitle {
  margin:-14px 0 20px;
  font-size:12px;
  font-weight:bold;
  color:$faded_brown;
  text-align:center;
  text-transform:none;
}

.report--subsection--title {
  margin-bottom:15px;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  text-transform:uppercase;
}

.report--outputs + .report--subsection--title {
  margin-top:40px;
}

.report--subsection--subtitle {
  font-size:11px;
  font-weight:normal;
}

.report--option_grid {

}

.report--option_grid--row {
  margin:0 -15px;

  @include pie-clearfix;
}

.report--option_grid--row + .report--option_grid--row {
  margin-top:30px;
}

.report--option_grid--item {
  float:left;
  width:33.33%;
  padding:0 15px;

  @include box-sizing(border-box);
}

.report--option_grid--item--content {
  @include report-box(30px);
}

.report--option_grid--item--title {
  font-size:15px;
  font-weight:bold;
  text-transform:uppercase;
}

.report--option_grid--item--caption {
  font-size:12px;
}

.report--option_grid--item--edit {
  bottom:14px;
  left:14px;

  @include report-edit-button;
}

.report--chart {
  height:256px;
  margin-bottom:30px;
}

.report--costs {
  margin:0 -15px;

  @include pie-clearfix;
}

.report--costs--column {
  float:left;
  width:33.33%;
  padding:0 15px;

  @include box-sizing(border-box);
}

.report--costs--column-small {
  width:25%;
}

.report--costs--column-big {
  width:50%;
}

.report--costs--title {
  margin-bottom:14px;
  font-size:12px;
  font-weight:bold;
  color:$faded_brown;
}

.report--costs--detail {
  @include report-box(20px);
}

.report--costs--detail--value {
  font-size:16px;
  text-align:left;
  line-height:1;
}

.report--costs--detail--edit {
  top:10px;
  right:10px;

  @include report-edit-button;
}

.report--costs--bigvalue {
  padding-top:8px;
  font-size:36px;
  color:$brand_green;
}

.report-service_level {
  position:relative;
  margin:30px 0;
  background:transparent image-url('image-report-service_level.png') no-repeat 50% 50%
}

.report-service_level::before {
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-65px;
  margin-left:-264px - 80px - 40px;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
  background-position:50% -975px;
}

.report-service_level::after {
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-65px;
  margin-left:264px - 80px + 40px;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
  background-position:50% -1135px;
}

.report-service_level--prefix {
  margin-bottom:10px;
  font-size:14px;
}

.report-service_level--amount {
  font-size:50px;
  color:$faded_brown;
}

.report-service_level--suffix {
  margin-top:5px;
  font-size:14px;
}

.report-service_level--edit {
  @include report-edit-button;

  position:static;
  display:inline-block;
  margin-top:20px;
}

.report--no_data {
  margin:30px 0;
  padding:30px;
  font-size:14px;
  background-color:rgba(255,255,255,0.25);

  @include  border-radius(5px);
}

.report--no_data:last-child {
  margin-bottom:0;
}

.report--outputs {
  margin:0 -10px;
  text-align:left;

  @include pie-clearfix;
}

.report--outputs + .report--outputs {
  margin-top:20px;
}

.report--outputs--item {
  float:left;
  padding:0 10px;
  text-align:left;

  @include box-sizing(border-box);
}

.report--outputs--item-20 {
  width:20%;
}

.report--outputs--title {
  height:2em;
  margin-bottom:10px;
  font-size:12px;
  font-weight:bold;
}

.report--outputs--title-total {
  height:auto;
}

.report--outputs--subtitle {
  display:block;
}

.report--outputs--item--value {
  padding:7px;
  font-size:20px;
  font-weight:bold;
  color:#fff;
  line-height:1;
  text-shadow:0 -1px 0 rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.2);
  -webkit-font-smoothing:antialiased;

  @include border-radius(3px);
}



