html, body {
  height:100%;
}

.page_content {
  max-width:$max_page_width;
  margin:0 auto;
  padding:0 20px;
}

.boxed_container {
  height:100%;
  padding:$masthead_height + 0 0 $footer_height + 0;
  background-color:$dark_grey;

  @include box-sizing(border-box);
}

.boxed_content {
  position:relative;
  height:100%;
  padding:20px;

  @include box-sizing(border-box);
  @include box-shadow(0 0 4px rgba(0,0,0,0.25));
  @include background-image(radial-gradient(center bottom, circle, #e6e3be, #a08d62));
}

.application_version {
  position:fixed;
  top:5px;
  left:5px;
  font-size:10px;
  color:#fff;
}

