html, body {
  height:100%;
  background-color:$dark_grey;
}

.page_content {
  max-width:$max_page_width;
  margin:0 auto;
  padding:0 20px;
}

.page_content-narrow {
  max-width:$max_page_width_narrow;
}

.boxed_container {
  padding:$masthead_height + 0 0 $footer_height + 0;
  background-color:$dark_grey;

  @include box-sizing(border-box);
}

.boxed_container-full_height {
  height:100%;
}

.boxed_content {
  position:relative;
  height:100%;
  padding:20px;

  @include box-sizing(border-box);
  @include box-shadow(0 0 4px rgba(0,0,0,0.25));
  @include background-image(radial-gradient(center bottom, circle, #e6e3be, #a08d62));
}

.application_version {
  position:fixed;
  top:5px;
  left:5px;
  font-size:10px;
  color:#fff;
}

.preapplication_footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  border-top:1px solid #fff;
  background-color:$faded_green;
}

.preapplication_footer--content {
  padding:20px 0;

  @include clearfix;
}

.preapplication_footer--links {
  float:left;
  width:33%;
}

.preapplication_footer--link {
  display:block;
  color:#fff;
  text-decoration:none;
}

.preapplication_footer--link + .preapplication_footer--link {
  margin-top:20px;
}

.preapplication_footer--link:hover {
  text-decoration:underline;
}

.preapplication_footer--social {
  float:left;
  width:33%;
  text-align:center;
}

.preapplication_footer--social--item {
  display:inline-block;
  width:80px;
  height:80px;
  border:1px solid #fff;
  background-repeat:no-repeat;
  background-position:50% 50%;

  @include border-radius(100px);
  @include transition(background-color 0.3s);
}

.preapplication_footer--social--item:hover {
  background-color:rgba(255,255,255,0.25);
}

.preapplication_footer--social--item + .preapplication_footer--social--item {
  margin-left:14px;
}

.preapplication_footer--social--item-facebook {
  background-image:image-url('image-logo_facebook.png');
}

.preapplication_footer--social--item-twitter {
  background-image:image-url('image-logo_twitter.png');
}

.preapplication_footer--social--item-google {
  background-image:image-url('image-logo_google.png');
}

.preapplication_footer--important {
  float:left;
  width:33%;
  text-align:right;
}

.preapplication_footer--logo {
  display:inline-block;
  margin-bottom:10px;
}

.preapplication_footer--important--link {
  display:block;
  font-size:14px;
  color:#fff;
  text-decoration:none;
}

.preapplication_footer--important--link:hover {
  text-decoration:underline;
}

.preapplication_footer--important--link + .preapplication_footer--important--link {
  margin-top:10px;
}

@media screen and ( max-width: $mobile_breakpoint ) {

  .preapplication_footer--links,
  .preapplication_footer--social {
    position:absolute !important;
    clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip:rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height:1px !important;
    width:1px !important;
    overflow:hidden;
  }

  .preapplication_footer--important {
    width:100%;
    text-align:center;
  }


  .boxed-container {
    height:auto;
  }

  .boxed_content {
    height:auto;
  }

  .page_content {
    padding: 0 0 140px;
  }

  .preapplication_footer {
    .page_content {
      padding: 0;
    }
  }

}
