// GLOBALS

$max_page_width:1024px;
$masthead_height:60px;
$footer_height:40px;

$brand_orange:#ff5e3d;
$brand_light_orange:#f37540;
$brand_dark_orange:#f05210;
$dark_grey:#333333;
$dark_grey_hover:#484848;