// GLOBALS

$max_page_width:1024px;
$max_page_width_narrow:800px;
$form_width:400px;
$masthead_height:60px;
$footer_height:40px;

$brand_orange:#ff6633;
$brand_light_orange:#f37540;
$brand_dark_orange:#f05210;
$brand_green:#adcb54;
$brand_dark_green:#8faa3c;
$faded_green:#ccc394;
$dark_grey:#333333;
$dark_grey_hover:#484848;
$faded_grey:#cfc5ad;
$dark_brown:#4e3b24;
$medium_brown:#a6955f;
$faded_brown:#796d49;
$warning_red:#de1f26;
$warning_amber:#fece17;

$mobile_breakpoint:520px;
