/* reset */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #333;
    -webkit-font-smoothing: antialiased;
}
footer {
    margin: 0;
    padding: 0;
}
form{
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
    padding: 0;
}
a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
}
li {
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    margin: 0;
    padding: 0;
    display: block;
    text-indent: -10000px;
    line-height: 0;
}
.hidden{
    display: none;
}
img {
    border: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #217F8B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #217F8B;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #217F8B;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #217F8B;
}
/* layout */
.launchPage {
    min-height: 100%;
    height: auto;
}
.wrapper {
    position: relative;
    height: 100%;
    width: 1025px;
    margin: 0 auto;
    background-color: #fff;
}
.launchPage .wrapper {
    min-height: 100%;
}
.bgGradient {
    background: #037EB1; /* fallback for non-supporting browsers */
    background-image: -webkit-radial-gradient(center 1000px, circle , #06B2B1 30%, #0279AE 100%); /* New WebKit syntax */
    background-image: -moz-radial-gradient(center center, circle contain,  black 100%, white 100%);
    background-image: -ms-radial-gradient(center center, circle contain,  black 100%, white 100%); /* IE10+ */
    background-image: -o-radial-gradient(center center, circle contain,  black 100%, white 100%); /* Opera (13?) */
}
.header {
    z-index: 100;
    position: fixed;
    width: 1025px;
    top: 0;
    margin: 0 auto;
    background-color: #333;
    padding-top: 15px;
}
.launchPage .header {
    position: absolute;
}
.header .logo {
    padding-left: 35px;
}
.header ul {
    float: right;
    margin-top: 10px;
    padding-right: 35px;
}
.header li {
    float: left;
    margin-left: 13px;
}
.header li a {
    color: #fff;
}
.header li a.sign {
    color: #ff6633;
}
.header .languageSwitcher {
    margin: 0;
    padding: 0;
}
.languageSwitcher li {
    clear: both;
    margin: 0;
}
.languageSwitcher li a {
    display: none;
}
.languageSwitcher li a.active {
    display: block;
    padding-right: 23px;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 100% -295px;
}
nav {
    padding: 25px 15px;
    background-color: #0287B0;
    border-bottom: #0286A8;
}
.header nav .navWrapper {
    display: table;
    margin: 0 auto;
}
.header nav ul {
    float: none;
    display:table-row;
    white-space:nowrap;
}
.header nav ul li {
    display:table-cell;
    margin: 0 15px;
}
.header nav li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #9AD0DF;
    text-transform: uppercase;
    text-decoration: none;
}
.header nav li a.active {
    color: #fff;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 130px;
}
footer {
    position: fixed;
    width: 100%;
    background-color: #333;
    bottom: 0;
    left: 0;
}
footer .footerWrapper {
    position: relative;
    width: 945px;
    margin: 0 auto;
    padding: 20px 40px 40px;
    background-color: #333;
}
footer h2 {
    float: left;
    font-size: 11px;
    color: #bfbfbf;
    margin-right: 20px;
    margin-top: 2px;
    text-transform: uppercase;
    /*background: transparent url('../assets/arrowUp8.png') no-repeat 0 2px;*/
}
.progressBar {
    position: relative;
    float: left;
    padding-top: 2px;
}
.outerBar {
    width: 500px;
}
.innerBar {
    float: left;
    height: 2px;
    margin-top: 5px;
    background-color: #ff6633;
}
.outerBar p {
    float: left;
    color: #BFBFBF;
    margin: -1px 0 0 20px;
}
.mainContent {
    position: relative;
    display: table;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    border-collapse: collapse;
}
.main_content {
    position: relative;
    display: table-cell;
    min-height: 100%;
    width: 100%;
    vertical-align: middle;
}
.next_button {
    clear: both;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 54px;
    border: 0px;
    color: #d6d6d6;
    padding: 20px 94px;
    margin: 20px auto 10px;
    background-color: #363636;
    text-transform: uppercase;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.skip {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.mainContent h1 {
    z-index: 100;
    display: inline-block;
    position: absolute;
    width: 713px;
    top: 8%;
    left: 15%;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 auto;
    color: #fff;
}
.chzn-container-single .chzn-single span,
.chzn-container-single .chzn-default,
.sbSelector {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 25px;
    color: #217F8B;
    text-decoration: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chzn-container-single .chzn-single span {
    padding: 0;
    width: 100%;
    background-image: none;
}
.chzn-container-single .chzn-single div b {
    margin: 10px 0 20px 0;
    background: transparent url('/assets/spriteArrow8.png') no-repeat 85% -187px;
}
.chzn-container-active.chzn-with-drop .chzn-single div b {
    background-position: 0 -237px;
}
a.sbSelector:hover {
    text-decoration: none;
}
.chzn-container-single .chzn-search {
    background-color: #000;
    border-left: 0;
    border-right: 0;
}
.chzn-search input {
    border-sizing: none;
}
.chzn-results {
    border: none;
    width: 99%;
}
.chzn-container.chzn-with-drop .chzn-drop {
    width: 100%;
}
.chzn-container-single .chzn-single,
.chzn-container-single .chzn-single span {
    background: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #217F8B;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chzn-container-single .chzn-single {
    padding: 13px 25px;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;
}
a.sbSelector:hover {
    text-decoration: none;
}
.chzn-container .chzn-results {
    z-index: 100;
}
.chzn-results,
.sbOptions {
    overflow-y: scroll;
    background-color: #333333;
    padding: 20px 5px;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.chzn-results li,
.sbOptions li {
    clear: both;
    float: left;
    width: 100%;
}
.chzn-container .chzn-results .highlighted,
.sbOptions li:hover {
    width: 95%;
    background-color: #5C5C5C;
}
.chzn-results li,
.sbOptions a {
    display: block;
    color: #fff;
    text-align: left;
    padding: 15px 20px;
}
.sbOptions a {
    display: block;
    color: #fff;
    text-align: left;
    font-size: 15px;
    padding: 15px 20px;
    text-decoration: none;
}
.chzn-container-active .chzn-single {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 25px;
    color: #217F8B;
    text-decoration: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.notes {
    position: relative;
    overflow: hidden;
    width: 95%;
    float: left;
    margin: 10px 0 20px 40px;
}
.notes p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
}
/* LaunchPage */
.main .mainWrapper {
    width: 870px;
    margin: 0 auto 200px;
    padding: 67px 0 60px;
    border: 1px solid #217F8B;

    -webkit-box-shadow: 0px 1px 20px rgba(35, 127, 139, 0.8);
    -moz-box-shadow:    0px 1px 20px rgba(35, 127, 139, 0.8);
    box-shadow:         0px 1px 20px rgba(35, 127, 139, 0.8);
}
.main .mainWrapper h1 {
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 65px;
    color: #fff;
    text-align: center;
}
.calculatorSwitch {
    width: 410px;
    margin: 0 auto;
    overflow: hidden;
}
.calculatorSwitch li {
    width: 203px;
    float: left;
}
.calculatorSwitch li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #9ADDE0;
    padding-bottom: 60px;
}
.calculatorSwitch li.lastChild {
    float: right;
}
.calculatorSwitch li a:hover {
    text-decoration: none;
    background: transparent url('/assets/iconHover24.png') no-repeat 0 0;
}
.calculatorSwitch li a.active {
    background: transparent url('/assets/iconSelect24.png') no-repeat 0 0;
}
.calculatorSwitch li figcaption {
    text-align: center;
}
.calculatorSwitch li a:hover figcaption,
.calculatorSwitch li a.active figcaption {
    color: #fff;
    text-decoration: none;
}
.calculatorSwitch figure {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.calculatorSwitch img {
    display: block;
    margin: 0 auto;
    padding: 42px 0 30px 0;
}
.calculatorSwitch .pag {
    clear: both;
    float: left;
    overflow: hidden;
}
.calculatorSwitch .pag li {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.calculatorSwitch .pag a {
    display: block;
    padding: 20px 19px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
.calculatorSwitch .pag a:hover {
    color: #ff6633;
    text-decoration: none;
}
/* Questionaire */
.main form {
    position: relative;
    width: 908px;
    margin: 0 auto;
}
.main .grid {
    position: relative;
    width: 45%;
    float: left;
    margin-left: 40px;
    min-height: 125px;
}
.context .grid {
    min-height: 115px;
}
.cost .grid {
    min-height: 210px;
}
.cost .notes {
    margin-top: -75px;
}
.costSanitation .grid {
    min-height: 235px;
}
.costSanitation .notes {
    margin-top: -20px;
}
.main .grid.odd {
    width: 45%;
    padding-left: 8px;
}
.grid li label.hiddenLabel {
    display: block;
    text-indent: -10000px;
    line-height: 0;
}
.grid a.iconTip {
    position: absolute;
    right: 25px;
    top: 3px;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    text-indent: -10000px;
    background: transparent url('/assets/iconInfo8.png') no-repeat 95% top;
}
.grid a.comentAnchor {
    clear: both;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #73C6D5;
    float: right;
    margin: 10px 48px 13px 0;
    text-align: right;
}
.main form fieldset {
    padding-bottom: 85px;
}
.main form legend {
    margin-bottom: 45px;
}
.main form section {
    clear: both;
    width: 100%;
}
form .grid h2,
.main form label {
    display: block;
    width: 85%;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
form .grid h2 {
    font-weight: normal;
}
.main form input {
    clear: both;
    width: 310px;
}
.main form input {
    font-size: 20px;
    color: #217F8B;
    padding: 13px 25px;
    margin: 0 0 20px 0;
    background-color: transparent;
    border: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.grid .checkBox {
    clear: both;
    float: left;
}
.grid .checkBox input {
    float: left;
    display: block;
    clear: none;
    width: auto;
    margin: 5px 8px 8px 0;
}
.grid label input {
    float: left;
    width: auto;
    margin-right: 10px;
    margin-top: 3px;
}
.grid .checkBox label {
    float: left;
}
.formButton {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 25px;
    margin-left: 25px;
    background-color: #ff6633;
    border: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Create an account */

.newAccount form {
    width: 350px;
}
.newAccount .checkPolicy {
    width: auto;
    height: 36px;
    float: left;
    font-size: 11px;
    text-indent: 50px;
    padding-top: 10px;
    background: transparent url('/assets/bgLabelTick24.png') no-repeat 0 0;
}
.newAccount .checkPolicy a {
    font-size: 11px;
}
.newAccount .checkPolicy input {
    width: auto;
    float: left;
    position: absolute;
    top: -10000px;
    left: -10000px;
}
.newAccount form label {
    font-size: 11px;
}
.newAccount .formButton {
    clear: both;
    width: 80%;
    display: block;
    float: none;
    padding: 20px 48px;
    margin: 0 auto;
}
/* Term and conditions */
.terms {
    width: 96%;
    padding: 80px 21px 20px 20px;
    color: #fff;
}
.terms h1 {
    margin-bottom: 15px;
}
.terms h2, h3 {
    margin-bottom: 10px;
}
.terms p {
    margin-bottom: 15px;
}
.terms a {
    text-decoration: underline;
}
.terms ol li {
    margin-left: 15px;
}
.terms ol,
.terms ul {
    overflow: hidden;
    margin-bottom: 20px;
}
/* create a comment */
.main form textarea {
    width: 95%;
    display: block;
    font-size: 20px;
    color: #217F8B;
    padding: 13px 25px;
    margin: 0 0 35px 0;
    background-color: transparent;
    border: none;
    background: transparent url('/assets/bgWhiteTransparency.png') repeat 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comment {
    padding-top: 75px;
}
.comment button {
    float: none;
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: bold;
}

/*
*
* IE FIXES
*
*/

.ie8 form .grid h2,
.ie8 .main form label,
.ie9 form .grid h2,
.ie9 .main form label {
    width: auto;
}
.ie8 .grid li label,
.ie9 .grid li label {
    margin-bottom: 20px;
}
.ie8 .grid li label input,
.ie9 .grid li label input {
    background-image: none;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
}
.ie8 .service .notes {
    margin-top: -25px;
}
.ie7 .grid a.comentAnchor,
.ie8 .grid a.comentAnchor {
    margin-top: 10px;
}
.ie7 .grid select {
    width: 90%;
}
.ie7 .grid input {
    margin-left: -40px;
}
.ie7 .grid li input {
    margin-left: 0;
}
.ie7 .grid li label input {
    background: transparent;
}
.ie7 .cost .grid {
    min-height: 245px;
}
.ie7 .header {
    position: relative;
}
.ie7 .header a {
    float: left;
}
.ie7 .header nav {
    margin-top: 75px;
}
.ie7 .header nav .navWrapper {
    width: 65%;
}
.ie7 .main {
    padding-top: 40px;
}
.ie7 form fieldset {
    padding-bottom: 0;
}
.ie7 form legend {
    margin-bottom: 0;
}
.ie7 .languageSwitcher {
    float: none;
}
.ie7 .cost .notes {
    margin-top: -110px;
}
.ie9 .cost .notes,
.ie8 .cost .notes {
    margin-top: -100px;
}
.ie8 .managing .grid,
.ie9 .managing .grid {
    min-height: 130px;
}
.ie7 .service .notes {
    margin-top: 0;
}
.ie8 .service .notes,
.ie9 .service .notes {
    margin-top: -20px;
}
.ie7 footer {
    position: relative;
}
.ie7 #saveButton {
    margin-bottom: 50px;
}
.ie8 .costSanitation .notes,
.ie9 .costSanitation .notes {
    margin-top: 0;
}
.ie7 .grid a.iconTip,
.ie8 .grid a.iconTip,
.ie9 .grid a.iconTip {
    right: -5px;
}
.ie7 .costSanitation .grid {
    min-height: 245px;
}