// BUTTONS
.button {
  display:inline-block;
  padding:11px 24px 10px;
  border:1px solid $brand_dark_orange;
  font-family:inherit;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  line-height:1;
  background-color:$brand_light_orange;
  text-decoration:none;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;

  @include border-radius(3px);
  @include box-shadow(0 1px 0 rgba(255,255,255,0.5) inset);
  @include transition(background-color 0.3s);
}

.button:hover {
  background-color:scale-lightness($brand_light_orange, 10);
}

.button:active {
  @include box-shadow(0 1px 0 rgba(0,0,0,0.15) inset);
}


// CHOSEN DROPDOWN WIDGET
.chosen-container, .chosen-container-active.chosen-with-drop {
  border:none;

  .chosen-single {
    background:#ddd8bc;
    height:45px;
    color:$dark_brown;
    font-size:18px;
    font-weight:bold;
    padding-top:12px;
    text-align:left;
    border:none;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);

    @include box-sizing(border-box);

    span {
      margin-left:15px;
      text-align:center;
    }

    div {
      width:26px;
      right:7px;
      top:6px;

      b {
        background:transparent image-url('spriteArrow8.png') no-repeat 0 -187px;
      }
    }
  }
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    div{
      b{
        background-position:0 -237px;
      }
    }
  }

  .chosen-drop {
    background:#333;
    font-size:15px;
    text-align:left;
    color:#fff;

    .chosen-results {
      .active-result {
        padding-top:10px;
        &.highlighted {
          background:#5d5d5d;
        }
      }

    }
  }
}


// SLIDER
.slider {
  max-width:90%;
  margin:0 auto;
}

.slider--value {
  display:inline-block;
  width:140px;
  padding:10px;
  border:none;
  font-size:23px;
  color:#fff;
  text-align:center;
  background-color:rgba(255,255,255,0.15);

  @include box-shadow(inset 0 1px 0 rgba(92, 82, 73, 0.31));
  @include border-radius(3px);
}

.slider--widget {
  height:3px;
  margin:70px 0;
  border:none;
  background:#fff none;
}

.slider--widget.threshold-marks {
  height:30px;
  background-color:transparent;
  background-image:image-url('slider/sliderCursorRight.png'), image-url('slider/sliderCursorLeft.png'), image-url('slider/sliderGrayLine.png');
  background-repeat:no-repeat, no-repeat, no-repeat;
  background-position-y:1px, 0, 0px;
  background-position-x:800px, 20px, 1px;
}

.slider--widget .ui-slider-handle {
  top:-17px;
  border:none;
  width:40px;
  height:40px;
  margin-left:-20px;
  background:#fff image-url('icon-slider.png') no-repeat 50% 50%;
  cursor:pointer;

  @include border-radius(100px);
  @include box-shadow(0 2px 0 $medium_brown);
}

.slider--widget .ui-slider-handle:focus {
  outline:none;
}

.slider--widget.threshold-marks .ui-slider-handle{
  top:-5px;
}

.slider--scale {
  margin-top:-60px;
  text-align:left;
}

.slider--scale--point {
  position:relative;
  display:inline-block;
  font-weight:bold;
  font-size:14px;
  color:#333;
}


/*
.slider-section.time {
  .labeling-images {
    .imgHouse {
      position:relative;
      left:269px;
      top:-47px;
      height:45px;
    }

    .imgTime {
      position:relative;
      left:598px;
      top:-51px;
      height:45px;
    }
  }
}
*/