// BUTTONS
.button {
  display:inline-block;
  padding:11px 24px 10px;
  border:1px solid $brand_dark_orange;
  font-family:inherit;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  line-height:1;
  background-color:$brand_light_orange;
  text-decoration:none;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;

  @include border-radius(3px);
  @include box-shadow(0 1px 0 rgba(255,255,255,0.5) inset);
  @include transition(background-color 0.3s);
}

.button-secondary {
  border:1px solid $brand_dark_green;
  background-color:$brand_dark_green;
}

.button:hover {
  background-color:scale-lightness($brand_light_orange, 10);
}

.button-secondary:hover {
  background-color:scale-lightness($brand_dark_green, 10);
}

.button:active {
  @include box-shadow(0 1px 0 rgba(0,0,0,0.15) inset);
}


// CHOSEN DROPDOWN WIDGET
.chosen-container, .chosen-container-active.chosen-with-drop {
  border:none;

  .chosen-single {
    background:#ddd8bc;
    height:45px;
    color:$dark_grey;
    font-size:16px;
    font-weight:bold;
    padding:12px 15px;
    text-align:left;
    border:none;
    -webkit-font-smoothing:antialiased;

    @include box-shadow(none);
    @include box-sizing(border-box);

    span {
      margin-right:52px;
      text-align:center;
    }

    abbr,
    abbr:hover {
      top:50%;
      right:45px;
      width:16px;
      height:16px;
      margin-top:-8px;

      background:transparent image-url('sprite-dropdowns.png') no-repeat 50% -117px;
    }

    div {
      right:15px;
      top:50%;
      width:16px;
      height:16px;
      margin-top:-7px;

      b {
        display:block;
        background:transparent image-url('sprite-dropdowns.png') no-repeat 50% -18px;
      }
    }
  }

  .chosen-default {
    color:rgba(51,51,51,0.25);
  }
}

.chosen-container-single .chosen-search input[type="text"] {
  background-image:none;
  background-color:#fff;

  @include border-radius(3px);
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    div{
      b{
        background-position:50% -66px;
      }
    }
  }

  .chosen-drop {
    background:#333;
    font-size:15px;
    text-align:left;
    color:#fff;

    .chosen-results {

      li.no-results {
        background-color:$dark_grey;
      }

      .active-result {
        padding-top:10px;

        &.highlighted {
          background:#5d5d5d;
        }
      }

    }
  }
}


// SLIDER
.slider {
  max-width:90%;
  margin:0 auto;
}

.slider--value {
  display:inline-block;
  width:140px;
  padding:10px;
  border:none;
  font-size:23px;
  color:#fff;
  text-align:center;
  background-color:rgba(255,255,255,0.15);

  @include box-shadow(inset 0 1px 0 rgba(92, 82, 73, 0.31));
  @include border-radius(3px);
}

.slider--value-wide {
  width:240px;
}

.slider--widget {
  height:3px;
  margin:70px 0;
  border:none;
  background:#fff none;
}

.slider-widget-low_profile {
  margin:30px 0;
}

.slider--widget.threshold-marks {
  height:30px;
  background-color:transparent;
  background-image:image-url('slider/sliderCursorRight.png'), image-url('slider/sliderCursorLeft.png'), image-url('slider/sliderGrayLine.png');
  background-repeat:no-repeat, no-repeat, no-repeat;
  background-position-y:1px, 0, 0px;
  background-position-x:800px, 20px, 1px;
}

.slider--widget .ui-slider-handle {
  top:-17px;
  border:none;
  width:40px;
  height:40px;
  margin-left:-20px;
  background:#fff image-url('icon-slider.png') no-repeat 50% 50%;
  cursor:pointer;

  @include border-radius(100px);
  @include box-shadow(0 2px 0 $medium_brown);
}

.slider--widget .ui-slider-handle:focus {
  outline:none;
}

.slider--widget.threshold-marks .ui-slider-handle{
  top:-5px;
}

.slider--scale {
  margin-top:-60px;
  text-align:left;
}

.slider--scale--point {
  position:relative;
  display:inline-block;
  font-weight:bold;
  font-size:14px;
  color:#333;
}

.slider-time {
  position:relative;
}

.slider-time::before {
  content:"";
  position:absolute;
  left:50%;
  top:0;
  margin-top:-40px;
  margin-left:-150px - 80px - 40px;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
  background-position:50% -975px;
}

.slider-time::after {
  content:"";
  position:absolute;
  left:50%;
  top:0;
  margin-top:-40px;
  margin-left:150px - 80px + 40px;
  width:160px;
  height:130px;
  background-image:image-url('sprite-question_icons.png');
  background-repeat:no-repeat;
  background-position:50% -1135px;
}