%p#notice= notice

%p
  %b Name:
  = @advanced_water_question_option_group.name

= link_to 'Edit', edit_advanced_water_question_option_group_path(@advanced_water_question_option_group)
\|
= link_to 'Back', advanced_water_question_option_groups_path
