!!!
%html
  %head
    %title The WASHCost Calculator
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag "static/style.css"
    = javascript_include_tag 'static/jquery.1.10.2.js', 'static/site.js'
  %body
    = yield
