<!DOCTYPE html>

<%= render "shared/head_advanced" %>

<body>
<div id="outer_container_report" class="bgGradient">
  <%= show_app_version %>

  <%= render "shared/header" %>
  <%= yield %>

</div>

</body>
</html>
