= content_for :inner_content do
  .boxed_container.boxed_container-full_height
    .page_content.boxed_content

      = render 'tool/navigation'

      = yield

= render template: "layouts/calculators"